Repository dashpay/dash, pull requests merged in 2019-02, with the labels that each got.

#2673 Invoke CheckSpecialTx after all normal TX checks have passed
  src/validation.cpp
Labels: backport-candidate-13.0

#2671 Fix negative "keys left since backup"
  src/wallet/wallet.cpp
Labels: bug

#2684 Stop checking MN protocol version before signalling DIP3
  src/versionbits.cpp
Labels: backport-candidate-13.0

#2690 Call existsProviderTxConflict after CheckSpecialTx
  src/validation.cpp
Labels: backport-candidate-13.0

#2691 Change the way invalid ProTxes are handled in `addUnchecked` and `existsProviderTxConflict`
  src/txmempool.cpp
Labels: backport-candidate-13.0

#2687 Backport #14701: build: Add CLIENT_VERSION_BUILD to CFBundleGetInfoString
  share/qt/Info.plist.in
Labels: backport-candidate-13.x

#2698 Do not process blocks in CDeterministicMNManager before dip3 activation
  src/evo/deterministicmns.cpp
Labels: backport-candidate-13.x

#2699 Fix incorrect usage of begin() when genesis block is requested in "protx diff"
  src/evo/simplifiedmns.cpp
Labels: backport-candidate-13.x
