Repository dashpay/dash, pull requests merged in 2019-05, with the labels that each got.

#2892 Fix PrivateSend log
  src/privatesend-client.cpp
Labels: bug

#2902 Fix a crash in `masternode winners` when `count` is too large
  src/masternode-payments.cpp
Labels: bug

#2905 Implement integration tests for DKG error handling
  qa/pull-tester/rpc-tests.py
  qa/rpc-tests/llmq-dkgerrors.py
  qa/rpc-tests/llmq-simplepose.py
  qa/rpc-tests/test_framework/test_framework.py
  src/llmq/quorums_dkgsession.cpp
  src/llmq/quorums_dkgsession.h
  src/llmq/quorums_dkgsessionhandler.cpp
  src/rpc/rpcquorums.cpp
Labels: RPC

#2925 Fix duplicate `-instantsendnotify` invocation
  src/llmq/quorums_instantsend.cpp
Labels: bug

#2763 Backports 0.15 pr8
  build-aux/m4/bitcoin_qt.m4
  ci/matrix.sh
  ci/test_unittests.sh
  configure.ac
  doc/release-process.md
  qa/rpc-tests/bip65-cltv.py
  qa/rpc-tests/bip68-sequence.py
  qa/rpc-tests/bipdersig.py
  qa/rpc-tests/blockchain.py
  qa/rpc-tests/disablewallet.py
  qa/rpc-tests/getblocktemplate_proposals.py
  qa/rpc-tests/importmulti.py
  qa/rpc-tests/keypool.py
  qa/rpc-tests/mempool_packages.py
  qa/rpc-tests/mempool_reorg.py
  qa/rpc-tests/mempool_spendcoinbase.py
  qa/rpc-tests/nulldummy.py
  qa/rpc-tests/prioritise_transaction.py
  qa/rpc-tests/proxy_test.py
  qa/rpc-tests/rpcbind_test.py
  qa/rpc-tests/test_framework/socks5.py
  qa/rpc-tests/wallet.py
  src/Makefile.qttest.include
  src/Makefile.test.include
  src/chainparams.cpp
  src/chainparams.h
  src/coins.h
  src/compat.h
  src/dash-tx.cpp
  src/httpserver.cpp
  src/key.h
  src/net.cpp
  src/net.h
  src/netbase.cpp
  src/qt/forms/debugwindow.ui
  src/qt/test/rpcnestedtests.cpp
  src/qt/test/test_main.cpp
  src/qt/test/wallettests.cpp
  src/qt/test/wallettests.h
  src/rpc/mining.cpp
  src/rpc/misc.cpp
  src/rpc/server.h
  src/streams.h
  src/sync.cpp
  src/sync.h
  src/test/checkqueue_tests.cpp
  src/test/dbwrapper_tests.cpp
  src/test/key_tests.cpp
  src/test/script_tests.cpp
  src/test/test_dash.cpp
  src/test/test_dash_main.cpp
  src/torcontrol.cpp
  src/util.h
  src/wallet/db.cpp
  src/wallet/rpcdump.cpp
  src/wallet/wallet.h
Labels: RPC

#2894 Implement getmerkleblocks rpc
  src/rpc/blockchain.cpp
  src/rpc/client.cpp
Labels: RPC

#2934 Backports 0.15 pr12
  src/init.cpp
  src/policy/fees.cpp
  src/policy/fees.h
  src/qt/coincontroldialog.cpp
  src/qt/sendcoinsdialog.cpp
  src/qt/transactionrecord.cpp
  src/rpc/client.cpp
  src/rpc/mining.cpp
  src/rpc/net.cpp
  src/script/sigcache.cpp
  src/script/sigcache.h
  src/test/cuckoocache_tests.cpp
  src/test/policyestimator_tests.cpp
  src/txmempool.cpp
  src/txmempool.h
  src/validation.cpp
  src/validation.h
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  test/README.md
  test/functional/disconnect_ban.py
  test/functional/nodehandling.py
  test/functional/test_runner.py
Labels: RPC

#2947 Only require valid collaterals for votes and triggers
  src/governance/governance-object.cpp
  src/governance/governance-object.h
  src/governance/governance-vote.cpp
  src/version.h
Labels: backport-candidate-14.0.x

#2951 [v0.14.0.x] Fix off-by-one error in InstantSend mining info removal when disconnecting blocks
  src/llmq/quorums_instantsend.cpp
Labels: bug
