Repository dashpay/dash, pull requests merged in 2019-10, with the labels that each got.

#3124 Ignore recent rejects filter for locked txes
  src/net_processing.cpp
Labels: backport-candidate-14.0.x

#3126 Also consider txindex for transactions in AlreadyHave()
  src/net_processing.cpp
  src/txdb.cpp
  src/txdb.h
Labels: backport-candidate-14.0.x

#3139 Also handle/resolve orphan TXs when parents appear in a block
  src/net.h
  src/net_processing.cpp
  test/functional/invalidtxrequest.py
Labels: backport-candidate-14.0.x

#3138 Various fixes for mixing queues
  src/privatesend/privatesend-client.cpp
  src/privatesend/privatesend-server.cpp
  src/privatesend/privatesend.cpp
  src/privatesend/privatesend.h
Labels: backport-candidate-14.0.x

#3140 Introduce getprivatesendinfo and deprecate getpoolinfo
  src/privatesend/privatesend-client.cpp
  src/privatesend/privatesend-client.h
  src/privatesend/privatesend-server.cpp
  src/privatesend/privatesend-server.h
  src/rpc/masternode.cpp
Labels: RPC

#3153 Backport fixes for "stop" RPC behavior
  src/httpserver.cpp
  src/rpc/client.cpp
  src/rpc/server.cpp
  test/functional/feature_shutdown.py
  test/functional/test_framework/test_framework.py
  test/functional/test_framework/test_node.py
  test/functional/test_runner.py
Labels: RPC

#3150 Partially revert 3061
  src/wallet/wallet.cpp
Labels: backport-candidate-14.0.x

#3161 Backport bitcoin#17118: build: depends macOS: point --sysroot to SDK
  depends/builders/darwin.mk
Labels: backport-candidate-14.0.x

#3165 Only track last seen time instead of first and last seen time
  src/llmq/quorums_signing_shares.cpp
  src/llmq/quorums_signing_shares.h
Labels: backport-candidate-14.0.x

#3167 Actually update spent index on DisconnectBlock
  src/validation.cpp
Labels: backport-candidate-14.0.x

#3177 Allow empty strings in `protx update_registrar` as an option to re-use current values
  src/rpc/rpcevo.cpp
Labels: RPC

#3176 Update activemn if protx info changed
  src/masternode/activemasternode.cpp
  src/masternode/activemasternode.h
  src/rpc/masternode.cpp
  test/functional/dip3-deterministicmns.py
Labels: backport-candidate-14.0.x, bug
