Repository dashpay/dash, pull requests merged in 2019-07, with the labels that each got.

#3008 Fix excessive memory use when flushing chainstate and EvoDB
  src/bls/bls.h
  src/dbwrapper.h
  src/evo/deterministicmns.h
  src/evo/evodb.h
  src/validation.cpp
Labels: backport-candidate-14.0.x

#3009 Add "isValidMember" and "memberIndex" to "quorum memberof" and allow to specify quorum scan count
  src/rpc/rpcquorums.cpp
Labels: RPC

#3019 Remove support for InstantSend locked gobject collaterals
  src/governance/governance-object.cpp
Labels: backport-candidate-14.0.x

#3020 Remove legacy InstantSend code
  doc/files.md
  src/Makefile.am
  src/chainparams.cpp
  src/consensus/params.h
  src/dsnotificationinterface.cpp
  src/init.cpp
  src/instantsend.cpp
  src/instantsend.h
  src/llmq/quorums_chainlocks.cpp
  src/llmq/quorums_instantsend.cpp
  src/llmq/quorums_instantsend.h
  src/net.cpp
  src/net_processing.cpp
  src/protocol.cpp
  src/protocol.h
  src/qt/coincontroldialog.cpp
  src/qt/forms/receivecoinsdialog.ui
  src/qt/forms/sendcoinsdialog.ui
  src/qt/guiutil.cpp
  src/qt/overviewpage.cpp
  src/qt/receivecoinsdialog.cpp
  src/qt/receiverequestdialog.cpp
  src/qt/res/css/crownium.css
  src/qt/res/css/drkblue.css
  src/qt/res/css/light-hires-retro.css
  src/qt/res/css/light-hires.css
  src/qt/res/css/light-retro.css
  src/qt/res/css/light.css
  src/qt/res/css/trad.css
  src/qt/sendcoinsdialog.cpp
  src/qt/sendcoinsdialog.h
  src/qt/test/uritests.cpp
  src/qt/transactiondesc.cpp
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
  src/rpc/blockchain.cpp
  src/rpc/governance.cpp
  src/rpc/rawtransaction.cpp
  src/rpc/rpcevo.cpp
  src/spork.cpp
  src/spork.h
  src/txmempool.cpp
  src/txmempool.h
  src/validation.cpp
  src/wallet/coincontrol.h
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/zmq/zmqconfig.h
  test/functional/autois-mempool.py
  test/functional/dip3-deterministicmns.py
  test/functional/llmq-chainlocks.py
  test/functional/llmq-is-cl-conflicts.py
  test/functional/multikeysporks.py
  test/functional/p2p-autoinstantsend.py
  test/functional/p2p-instantsend.py
  test/functional/sporks.py
  test/functional/test_framework/test_framework.py
  test/functional/test_runner.py
Labels: P2P, RPC

#3024 Backport #12783: macOS: disable AppNap during sync (and mixing)
  share/qt/Info.plist.in
  src/Makefile.qt.include
  src/qt/bitcoingui.cpp
  src/qt/bitcoingui.h
  src/qt/macos_appnap.h
  src/qt/macos_appnap.mm
Labels: backport-candidate-14.0.x

#3026 Fix osslsigncode compile issue in gitian-build
  contrib/gitian-descriptors/gitian-win-signer.yml
Labels: backport-candidate-14.0.x

#3028 Backport a couple of ZMQ fixes
  contrib/zmq/zmq_sub.py
  contrib/zmq/zmq_sub3.4.py
Labels: backport-candidate-14.0.x

#3027 Add Dash Core Group codesign certificate
  contrib/windeploy/win-codesign.cert
Labels: backport-candidate-14.0.x

#3031 Fix broken link in PrivateSend info dialog
  src/qt/utilitydialog.cpp
Labels: backport-candidate-14.0.x
