Repository dashpay/dash, pull requests merged in 2019-12, with the labels that each got.

#3222 Tests: Allow specifying different cmd-line params for each masternode
  test/functional/dip4-coinbasemerkleroots.py
  test/functional/llmq-chainlocks.py
  test/functional/llmq-dkgerrors.py
  test/functional/llmq-is-cl-conflicts.py
  test/functional/llmq-signing.py
  test/functional/llmq-simplepose.py
  test/functional/p2p-instantsend.py
  test/functional/test_framework/test_framework.py
Labels: backport-candidate-14.0.x

#3220 Decouple cs_mnauth/cs_main
  src/evo/mnauth.cpp
Labels: backport-candidate-14.0.x

#3221 Tests: Fix the way nodes are connected to each other in setup_network/start_masternodes
  test/functional/test_framework/test_framework.py
Labels: backport-candidate-14.0.x

#3219 Allow re-signing of IS locks when performing retroactive signing
  src/llmq/quorums_instantsend.cpp
  src/llmq/quorums_instantsend.h
  src/llmq/quorums_signing.cpp
  src/llmq/quorums_signing.h
  src/llmq/quorums_signing_shares.cpp
  src/llmq/quorums_signing_shares.h
  src/net.cpp
  src/net.h
  src/rpc/net.cpp
  test/functional/llmq-chainlocks.py
  test/functional/llmq-is-retroactive.py
  test/functional/test_framework/test_framework.py
  test/functional/test_framework/util.py
  test/functional/test_runner.py
Labels: RPC, backport-candidate-14.0.x

#3223 Fix "Resource deadlock avoided" on shutdown
  src/llmq/quorums.cpp
Labels: backport-candidate-14.0.x

#3225 Backport bitcoin#12392: Fix ignoring tx data requests when fPauseSend is set on a peer
  src/net_processing.cpp
Labels: backport-candidate-14.0.x

#3227 [v0.14.0.x] Backport pending PRs
  qa/pull-tester/rpc-tests.py
  qa/rpc-tests/autois-mempool.py
  qa/rpc-tests/dip4-coinbasemerkleroots.py
  qa/rpc-tests/llmq-chainlocks.py
  qa/rpc-tests/llmq-dkgerrors.py
  qa/rpc-tests/llmq-is-cl-conflicts.py
  qa/rpc-tests/llmq-is-retroactive.py
  qa/rpc-tests/llmq-signing.py
  qa/rpc-tests/llmq-simplepose.py
  qa/rpc-tests/p2p-autoinstantsend.py
  qa/rpc-tests/p2p-instantsend.py
  qa/rpc-tests/test_framework/test_framework.py
  src/llmq/quorums.cpp
  src/llmq/quorums_instantsend.cpp
  src/llmq/quorums_instantsend.h
  src/llmq/quorums_signing.cpp
  src/llmq/quorums_signing.h
  src/llmq/quorums_signing_shares.cpp
  src/llmq/quorums_signing_shares.h
  src/net.cpp
  src/net.h
  src/net_processing.cpp
  src/rpc/net.cpp
Labels: RPC

#3240 Tolerate parent cache with empty cache-artifact directory
  .gitlab-ci.yml
Labels: backport-candidate-15.x

#3244 Fix log output in CDKGPendingMessages::PushPendingMessage
  src/llmq/quorums_dkgsessionhandler.cpp
Labels: backport-candidate-15.x

#3245 Try to avoid being marked as a bad quorum member when we sleep for too long in SleepBeforePhase
  src/llmq/quorums_dkgsessionhandler.cpp
  src/llmq/quorums_dkgsessionhandler.h
Labels: backport-candidate-15.x

#3249 Skip mnsync restrictions for whitelisted and manually added nodes
  src/masternode/masternode-sync.cpp
  src/netfulfilledman.cpp
  src/netfulfilledman.h
Labels: backport-candidate-15.x

#3256 Fix pull request detection in .gitlab-ci.yml
  .gitlab-ci.yml
Labels: backport-candidate-15.x
