Repository dashpay/dash, pull requests merged in 2019-08, with the labels that each got.

#3037 Do not count 0-fee txes for fee estimation
  src/validation.cpp
Labels: backport-candidate-14.0.x

#3044 Bail out properly on Evo DB consistency check failures in ConnectBlock/DisconnectBlock
  src/validation.cpp
Labels: backport-candidate-14.0.x

#3047 Add "instantsendlocks" to getmempoolinfo RPC
  src/rpc/blockchain.cpp
Labels: RPC, backport-candidate-14.0.x

#3048 Remove recovered sigs from the LLMQ db when corresponding IS locks get confirmed
  src/llmq/quorums_instantsend.cpp
  src/llmq/quorums_instantsend.h
  src/llmq/quorums_signing.cpp
  src/llmq/quorums_signing.h
Labels: backport-candidate-14.0.x

#3052 Re-verify invalid IS sigs when the active quorum set rotated
  src/llmq/quorums_instantsend.cpp
  src/llmq/quorums_instantsend.h
  src/llmq/quorums_signing.cpp
  src/llmq/quorums_signing.h
Labels: backport-candidate-14.0.x

#3065 RPC Getrawtransaction fix
  src/rpc/rawtransaction.cpp
Labels: RPC

#3061 Fix SelectCoinsMinConf to allow instant respends
  src/wallet/wallet.cpp
  test/functional/p2p-instantsend.py
Labels: backport-candidate-14.0.x

#3067 Add missing `instantlock`/`instantlock_internal` to `getblock`'s `verbosity=2` mode
  src/rpc/blockchain.cpp
Labels: RPC

#3069 Add missing tx `type` to `TxToUniv`
  src/core_write.cpp
  test/util/data/blanktxv1.json
  test/util/data/blanktxv2.json
  test/util/data/tt-delin1-out.json
  test/util/data/tt-delout1-out.json
  test/util/data/tt-locktime317000-out.json
  test/util/data/txcreate1.json
  test/util/data/txcreate2.json
  test/util/data/txcreatedata1.json
  test/util/data/txcreatedata2.json
  test/util/data/txcreatedata_seq0.json
  test/util/data/txcreatedata_seq1.json
  test/util/data/txcreatemultisig1.json
  test/util/data/txcreatemultisig2.json
  test/util/data/txcreateoutpubkey1.json
  test/util/data/txcreatescript1.json
  test/util/data/txcreatescript2.json
  test/util/data/txcreatesignv1.json
Labels: RPC

#3058 Merge #10757: RPC: Introduce getblockstats to plot things
  src/rpc/blockchain.cpp
  src/rpc/client.cpp
  test/functional/data/rpc_getblockstats.json
  test/functional/rpc_getblockstats.py
  test/functional/test_runner.py
Labels: RPC

#3063 Fix bip69 vs change position issue
  src/rpc/client.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  test/functional/fundrawtransaction.py
Labels: RPC, backport-candidate-14.0.x
