Repository dashpay/dash, pull requests merged in 2019-06, with the labels that each got.

#2966 Fix UI masternode list lag
  src/evo/deterministicmns.cpp
  src/qt/clientmodel.cpp
  src/ui_interface.h
Labels: backport-candidate-14.0.x, bug

#2968 Backport 8824
  src/core_io.h
  src/core_write.cpp
  src/evo/cbtx.cpp
  src/evo/cbtx.h
  src/evo/providertx.cpp
  src/evo/providertx.h
  src/llmq/quorums_commitment.cpp
  src/llmq/quorums_commitment.h
  src/rest.cpp
  src/rpc/blockchain.cpp
  src/rpc/rawtransaction.cpp
  src/spentindex.h
  test/util/data/blanktxv1.json
  test/util/data/blanktxv2.json
  test/util/data/tt-delin1-out.json
  test/util/data/tt-delout1-out.json
  test/util/data/tt-locktime317000-out.json
  test/util/data/txcreate1.json
  test/util/data/txcreate2.json
  test/util/data/txcreatedata1.json
  test/util/data/txcreatedata2.json
  test/util/data/txcreatedata_seq0.json
  test/util/data/txcreatedata_seq1.json
  test/util/data/txcreatemultisig1.json
  test/util/data/txcreatemultisig2.json
  test/util/data/txcreateoutpubkey1.json
  test/util/data/txcreatescript1.json
  test/util/data/txcreatescript2.json
  test/util/data/txcreatesignv1.json
Labels: RPC

#2972 Multiple speed optimizations for deterministic MN list handling
  src/bls/bls.cpp
  src/bls/bls.h
  src/evo/deterministicmns.cpp
  src/evo/deterministicmns.h
  src/evo/mnauth.cpp
  src/evo/providertx.cpp
  src/evo/simplifiedmns.cpp
  src/evo/simplifiedmns.h
  src/governance/governance-object.cpp
  src/governance/governance-vote.cpp
  src/instantsend.cpp
  src/llmq/quorums_chainlocks.cpp
  src/llmq/quorums_commitment.cpp
  src/llmq/quorums_dkgsession.cpp
  src/llmq/quorums_dkgsessionhandler.cpp
  src/llmq/quorums_instantsend.cpp
  src/llmq/quorums_signing.cpp
  src/llmq/quorums_signing_shares.cpp
  src/net_processing.cpp
  src/privatesend/privatesend-client.cpp
  src/privatesend/privatesend-server.cpp
  src/qt/clientmodel.cpp
  src/qt/masternodelist.cpp
  src/qt/masternodelist.h
  src/rpc/masternode.cpp
  src/rpc/rpcevo.cpp
  src/test/evo_simplifiedmns_tests.cpp
  src/txmempool.cpp
Labels: backport-candidate-14.0.x

#2967 Process/keep messages/connections from PoSe-banned MNs
  src/evo/deterministicmns.cpp
  src/evo/deterministicmns.h
  src/evo/mnauth.cpp
  src/governance/governance-object.cpp
  src/governance/governance.cpp
  src/net.cpp
  src/net_processing.cpp
Labels: backport-candidate-14.0.x

#2973 Ignore blocks that do not match the filter in getmerkleblocks rpc
  src/rpc/blockchain.cpp
Labels: RPC

#2975 Back off for 1m when connecting to quorum masternodes
  src/addrman.cpp
  src/addrman.h
  src/net.cpp
Labels: backport-candidate-14.0.x

#2976 Provide correct params to AcceptToMemoryPoolWithTime() in LoadMempool()
  src/validation.cpp
Labels: bug

#2981 Should send "reject" when mixing queue is full
  src/privatesend/privatesend-server.cpp
Labels: bug

#2987 Remove p2p alert system
  src/Makefile.am
  src/Makefile.test.include
  src/alert.cpp
  src/alert.h
  src/chainparams.cpp
  src/chainparams.h
  src/init.cpp
  src/net_processing.cpp
  src/protocol.cpp
  src/protocol.h
  src/qt/clientmodel.cpp
  src/qt/clientmodel.h
  src/sendalert.cpp
  src/test/alert_tests.cpp
  src/test/data/alertTests.raw
  src/ui_interface.h
  src/validation.cpp
  src/validation.h
  src/warnings.cpp
Labels: P2P

#2997 Remove skipped denom from the list on tx commit
  src/privatesend/privatesend-client.cpp
  src/privatesend/privatesend-client.h
  src/wallet/wallet.cpp
Labels: backport-candidate-14.0.x, bug

#2893 Decouple lite mode and client-side PrivateSend
  src/dsnotificationinterface.cpp
  src/init.cpp
  src/masternode/masternode-utils.cpp
  src/privatesend/privatesend-client.cpp
  src/privatesend/privatesend-client.h
  src/privatesend/privatesend.cpp
  src/qt/overviewpage.cpp
  src/qt/sendcoinsdialog.cpp
  src/rpc/masternode.cpp
  src/rpc/misc.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
Labels: RPC

#3002 Only load signingActiveQuorumCount + 1 quorums into cache
  src/llmq/quorums.cpp
Labels: backport-candidate-14.0.x

#3003 Fix 2 common Travis failures which happen when Travis has network issues
  .gitignore
  .travis.yml
  depends/Makefile
  depends/builders/darwin.mk
  depends/builders/linux.mk
  depends/funcs.mk
Labels: backport-candidate-14.0.x

#3004 Implement "quorum memberof"
  src/rpc/rpcquorums.cpp
Labels: RPC
