Repository dashpay/dash, pull requests merged in 2019-03, with the labels that each got.

#2734 Stop g_connman first before deleting it
  src/init.cpp
Labels: backport-candidate-13.x

#2737 Only include selected TX types into CMerkleBlock
  src/merkleblock.cpp
Labels: backport-candidate-13.x

#2743 Add "chainlock" field to more rpcs
  src/rpc/rawtransaction.cpp
  src/wallet/rpcwallet.cpp
Labels: RPC

#2740 Add collateralAddress into masternode/protx list rpc output
  src/evo/deterministicmns.cpp
  src/rpc/masternode.cpp
Labels: RPC, backport-candidate-13.x

#2744 Implement 2-stage commit for CEvoDB to avoid inconsistencies after crashes
  src/dbwrapper.h
  src/evo/evodb.cpp
  src/evo/evodb.h
  src/validation.cpp
Labels: backport-candidate-13.x

#2745 Make -masternodeblsprivkey mandatory when -masternode is given
  src/init.cpp
Labels: backport-candidate-13.x

#2747 Fix error message for invalid voting addresses
  src/rpc/rpcevo.cpp
Labels: RPC, backport-candidate-13.x

#2748 Fix "chainlock" in WalletTxToJSON
  src/wallet/rpcwallet.cpp
Labels: RPC, bug

#2773 RPC - Remove P2PKH message from protx help
  src/rpc/rpcevo.cpp
Labels: RPC

#2778 Disable in-wallet miner for win/macos Travis/Gitian builds
  ci/matrix.sh
  configure.ac
  contrib/gitian-descriptors/gitian-osx.yml
  contrib/gitian-descriptors/gitian-win.yml
  src/rpc/client.cpp
  src/rpc/mining.cpp
  src/test/rpc_tests.cpp
Labels: RPC, backport-candidate-13.x

#2782 Skip mempool.dat when wallet is starting in "zap" mode
  src/validation.cpp
Labels: backport-candidate-13.x

#2783 Introduce "qsendrecsigs" to indicate that plain recovered sigs should be sent
  src/llmq/quorums_signing.cpp
  src/net.h
  src/net_processing.cpp
  src/protocol.cpp
  src/protocol.h
Labels: P2P

#2784 Honor bloom filters when announcing LLMQ based IS locks
  src/llmq/quorums_instantsend.cpp
  src/llmq/quorums_instantsend.h
Labels: P2P

#2785 Introduce SENDDSQUEUE to indicate that a node is interested in DSQ messages
  src/net.h
  src/net_processing.cpp
  src/privatesend.cpp
  src/protocol.cpp
  src/protocol.h
  src/version.h
Labels: P2P

#2786 Apply Bloom filters to DIP2 transactions extra payload
  src/bloom.cpp
  src/bloom.h
  src/test/bloom_tests.cpp
Labels: P2P

#2787 Fix revoke reason check for ProUpRevTx
  src/rpc/rpcevo.cpp
Labels: RPC, backport-candidate-13.x, bug

#2789 Fix bug in GetNextMasternodeForPayment
  src/rpc/masternode.cpp
Labels: RPC, bug

#2790 Implement MNAUTH and allow unlimited inbound MN connections
  src/Makefile.am
  src/dsnotificationinterface.cpp
  src/evo/mnauth.cpp
  src/evo/mnauth.h
  src/llmq/quorums.cpp
  src/llmq/quorums_dkgsessionhandler.cpp
  src/llmq/quorums_utils.cpp
  src/llmq/quorums_utils.h
  src/net.cpp
  src/net.h
  src/net_processing.cpp
  src/protocol.cpp
  src/protocol.h
  src/serialize.h
Labels: P2P

#2805 Fix devnet genesis check in InitBlockIndex()
  src/validation.cpp
Labels: bug

#2806 Fix potential deadlock in LoadWallet()
  src/wallet/wallet.cpp
  src/wallet/walletdb.cpp
Labels: bug

#2809 Fix getgovernanceinfo rpc help text
  src/rpc/governance.cpp
Labels: RPC

#2810 Update "debug" rpc help text
  src/rpc/misc.cpp
Labels: RPC

#2811 Update "listtransactions" and "listsinceblock" RPC help
  src/wallet/rpcwallet.cpp
Labels: RPC

#2813 Fix vote ratecheck
  src/governance-object.cpp
Labels: backport-candidate-13.x, bug

#2814 Update getblock rpc help text
  src/rpc/blockchain.cpp
Labels: RPC
