Repository dashpay/dash, pull requests merged in 2019-04, with the labels that each got.

#2815 Keep the most recent gobject votes only
  src/governance-votedb.cpp
  src/governance-votedb.h
  src/governance.cpp
  src/governance.h
  src/rpc/governance.cpp
Labels: RPC

#2819 There can be no two votes which differ by the outcome only
  src/governance-object.cpp
Labels: backport-candidate-13.x, bug

#2826 Do not skip pushing of vMatch and vHashes in CMerkleBlock
  src/merkleblock.cpp
Labels: backport-candidate-13.x, bug

#2841 Add RPC for BLS secret to public key
  src/rpc/rpcevo.cpp
Labels: RPC

#2868 Don't disconnect peers on MNAUTH verification failure
  src/evo/mnauth.cpp
Labels: P2P

#2866 Change `quorum list` behaviour to list active quorums by default
  src/rpc/rpcquorums.cpp
Labels: RPC

#2874 Ensure wallet is available and unlocked for some `governance` and `evo` RPCs
  src/rpc/governance.cpp
  src/rpc/rpcevo.cpp
Labels: RPC

#2877 Report `instantlock: true` for transactions locked via ChainLocks
  doc/instantsend.md
  src/rpc/rawtransaction.cpp
  src/wallet/rpcwallet.cpp
Labels: RPC

#2887 RPC: Add ProTxHash to masternode list RPC response
  src/rpc/masternode.cpp
Labels: RPC
