Repository dashpay/dash, pull requests merged in 2020-09, with the labels that each got.

#3657 privatesend|wallet|qt: Improve calculations in CreateDenominated/MakeCollateralAmounts
  src/privatesend/privatesend-client.cpp
  src/privatesend/privatesend-client.h
  src/privatesend/privatesend-util.cpp
  src/privatesend/privatesend-util.h
  src/qt/transactionrecord.cpp
  src/wallet/coincontrol.h
  src/wallet/wallet.cpp
Labels: backport-candidate-16.x

#3668 wallet: Fix and improve CWallet::CreateTransaction
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: backport-candidate-16.x

#3667 test: Implement unit tests for CWallet::CreateTransaction
  src/wallet/test/wallet_tests.cpp
Labels: backport-candidate-16.x

#3677 test: Implement unit tests for CTransactionBuilder
  src/Makefile.test.include
  src/test/privatesend_tests.cpp
Labels: backport-candidate-16.x

#3685 qt: Fix block update signals/slots in BitcoinGUI and SendCoinsDialog
  src/qt/bitcoingui.cpp
  src/qt/bitcoingui.h
  src/qt/sendcoinsdialog.cpp
Labels: backport-candidate-16.x

#3687 qt: Ignore GUIUtil::updateFont calls until GUIUtil::loadFonts was called
  src/qt/guiutil.cpp
Labels: backport-candidate-16.x

#3689 masternode|rpc: Remove unused code
  src/masternode/masternode-sync.cpp
  src/masternode/masternode-sync.h
  src/rpc/misc.cpp
Labels: RPC

#3678 Fix two potential issues in the way pending islocks are processed
  src/llmq/quorums_instantsend.cpp
  src/llmq/quorums_instantsend.h
  src/llmq/quorums_signing.cpp
  src/llmq/quorums_signing.h
  src/rpc/rpcquorums.cpp
Labels: backport-candidate-16.x

#3691 Implement Block Reward Reallocation
  src/chainparams.cpp
  src/consensus/params.h
  src/masternode/masternode-payments.cpp
  src/validation.cpp
  src/validation.h
  src/versionbits.cpp
  test/functional/feature_block_reward_reallocation.py
  test/functional/feature_dip3_deterministicmns.py
  test/functional/feature_llmq_is_cl_conflicts.py
  test/functional/test_framework/blocktools.py
  test/functional/test_runner.py
Labels: backport-candidate-16.x

#3696 chainparams: Remove llmq_50_60 from regtest
  src/chainparams.cpp
Labels: backport-candidate-16.x

#3688 qt: Improved status bar
  src/qt/bitcoingui.cpp
  src/qt/guiconstants.h
  src/qt/guiutil.cpp
  src/qt/res/css/general.css
  src/qt/res/icons/hd_enabled.png
Labels: backport-candidate-16.x

#3690 masternode|net|rpc: Improve masternode sync process
  src/masternode/masternode-sync.cpp
  src/masternode/masternode-sync.h
  src/net.cpp
  src/rpc/misc.cpp
  test/functional/feature_llmq_simplepose.py
Labels: backport-candidate-16.x

#3692 Implement dynamic activation thresholds
  src/chainparams.cpp
  src/chainparams.h
  src/consensus/params.h
  src/init.cpp
  src/test/versionbits_tests.cpp
  src/validation.cpp
  src/versionbits.cpp
  src/versionbits.h
  test/functional/feature_block_reward_reallocation.py
  test/functional/test_runner.py
Labels: backport-candidate-16.x

#3694 Merge #13622: Remove mapRequest tracking that just effects Qt display.
  src/net_processing.cpp
  src/qt/guiutil.cpp
  src/qt/guiutil.h
  src/qt/transactiondesc.cpp
  src/qt/transactionrecord.cpp
  src/qt/transactionrecord.h
  src/qt/transactiontablemodel.cpp
  src/validationinterface.cpp
  src/validationinterface.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: backport-candidate-16.x, bug

#3699 qt: Finetune ModalOverlay
  src/qt/forms/modaloverlay.ui
  src/qt/modaloverlay.cpp
  src/qt/res/css/general.css
Labels: backport-candidate-16.x

#3700 qt|wallet: Fix "Use available balance" for PrivateSend
  src/qt/sendcoinsdialog.cpp
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: backport-candidate-16.x

#3706 qt: Tweak few strings
  src/qt/bitcoinamountfield.cpp
  src/qt/guiutil.cpp
  src/qt/masternodelist.cpp
  src/qt/sendcoinsdialog.cpp
Labels: backport-candidate-16.x

#3707 qt: Make sure font size in TransactionDescDialog is adjusted properly
  src/qt/transactiondescdialog.cpp
Labels: backport-candidate-16.x

#3708 qt: Use scaled font size for all QToolTip instances
  src/qt/guiutil.cpp
Labels: backport-candidate-16.x

#3714 qt: Make sure send confirmation dialog uses correct font settings
  src/qt/sendcoinsdialog.cpp
Labels: backport-candidate-16.x

#3709 qt: Finetune Options Dialog
  src/qt/forms/optionsdialog.ui
  src/qt/optionsdialog.cpp
  src/qt/res/css/dark.css
  src/qt/res/css/general.css
  src/qt/res/css/light.css
  src/qt/res/css/traditional.css
Labels: backport-candidate-16.x

#3711 qt: Disable missing macOS focus rects in AddressBookPage
  src/qt/addressbookpage.cpp
Labels: backport-candidate-16.x

#3716 qt: Hide remaining PrivateSend UI if PrivateSend is not enabled
  src/qt/bitcoingui.cpp
  src/qt/bitcoingui.h
  src/qt/forms/optionsdialog.ui
  src/qt/optionsdialog.cpp
  src/qt/optionsdialog.h
  src/qt/transactionview.cpp
  src/qt/transactionview.h
Labels: backport-candidate-16.x

#3718 rpc: Add chainlock BLS signature to getbestchainlock
  src/rpc/blockchain.cpp
Labels: RPC

#3723 privatesend: Avoid interacting with keypool in CTransactionBuilder ctor
  src/privatesend/privatesend-util.cpp
Labels: backport-candidate-16.x

#3720 qt: Finetune RPCConsole
  src/qt/clientmodel.cpp
  src/qt/clientmodel.h
  src/qt/forms/debugwindow.ui
  src/qt/guiutil.cpp
  src/qt/guiutil.h
  src/qt/rpcconsole.cpp
  src/qt/rpcconsole.h
  src/qt/trafficgraphdata.h
  src/qt/trafficgraphwidget.cpp
Labels: backport-candidate-16.x

#3721 qt: Remove unused assets
  src/Makefile.qt.include
  src/qt/dash.qrc
  src/qt/res/icons/about.png
  src/qt/res/icons/about_qt.png
  src/qt/res/icons/add.png
  src/qt/res/icons/bitcoin_testnet.png
  src/qt/res/icons/browse.png
  src/qt/res/icons/configure.png
  src/qt/res/icons/connect0_16.png
  src/qt/res/icons/console_remove.png
  src/qt/res/icons/debugwindow.png
  src/qt/res/icons/edit.png
  src/qt/res/icons/export.png
  src/qt/res/icons/filesave.png
  src/qt/res/icons/hd_disabled.png
  src/qt/res/icons/key.png
  src/qt/res/icons/network_disabled.png
  src/qt/res/icons/notsynced.png
  src/qt/res/icons/quit.png
  src/qt/res/icons/receive.png
  src/qt/res/icons/send.png
  src/qt/res/icons/transaction2.png
  src/qt/res/icons/transaction_conflicted.png
  src/qt/res/icons/tx_inout.png
  src/qt/res/icons/tx_input.png
  src/qt/res/icons/tx_mined.png
  src/qt/res/icons/tx_output.png
  src/qt/res/images/dash_logo_horizontal.png
Labels: backport-candidate-16.x

#3710 qt: Finetune TransactionsView
  src/qt/guiutil.cpp
  src/qt/guiutil.h
  src/qt/res/css/general.css
  src/qt/res/icons/verify.png
  src/qt/transactiondesc.cpp
  src/qt/transactionfilterproxy.cpp
  src/qt/transactionfilterproxy.h
  src/qt/transactiontablemodel.cpp
  src/qt/transactiontablemodel.h
  src/qt/transactionview.cpp
  src/qt/transactionview.h
Labels: backport-candidate-16.x

#3726 Fix testnet icon
  src/qt/res/icons/bitcoin_testnet.ico
Labels: backport-candidate-16.x

#3727 RPC: Update getprivatesendinfo help
  src/rpc/privatesend.cpp
Labels: backport-candidate-16.x

#3701 qt: Finetune CoinControlDialog + bitcoin#14828
  src/qt/coincontroldialog.cpp
  src/qt/coincontroldialog.h
  src/qt/forms/coincontroldialog.ui
  src/qt/res/css/dark.css
  src/qt/res/css/general.css
  src/qt/res/css/light.css
Labels: backport-candidate-16.x

#3725 Fix mempool sync
  src/masternode/masternode-sync.cpp
Labels: backport-candidate-16.x

#3715 qt: Finetune OverviewPage
  src/qt/forms/overviewpage.ui
  src/qt/overviewpage.cpp
  src/qt/res/css/general.css
  src/qt/res/css/traditional.css
  src/qt/transactionfilterproxy.cpp
Labels: backport-candidate-16.x

#3733 Do not try to access new tx in `WalletModel::prepareTransaction` if it wasn't really created
  src/qt/walletmodel.cpp
Labels: bug

#3717 qt: Add PrivateSend tab in OptionsDialog, allow to show/hide PS UI
  src/qt/bitcoingui.cpp
  src/qt/bitcoingui.h
  src/qt/forms/optionsdialog.ui
  src/qt/optionsdialog.cpp
  src/qt/optionsdialog.h
  src/qt/optionsmodel.cpp
  src/qt/optionsmodel.h
  src/qt/overviewpage.cpp
  src/qt/res/css/dark.css
  src/qt/res/css/general.css
  src/qt/res/css/light.css
  src/qt/res/css/traditional.css
  src/qt/transactionview.cpp
Labels: backport-candidate-16.x

#3737 Bump few things and update man pages for v0.16
  doc/man/dash-cli.1
  doc/man/dash-qt.1
  doc/man/dash-tx.1
  doc/man/dashd.1
  src/chainparams.cpp
  src/qt/intro.cpp
Labels: backport-candidate-16.x

#3736 Translations 2020-09
  src/qt/dashstrings.cpp
  src/qt/locale/dash_ar.ts
  src/qt/locale/dash_de.ts
  src/qt/locale/dash_en.ts
  src/qt/locale/dash_es.ts
  src/qt/locale/dash_fi.ts
  src/qt/locale/dash_fr.ts
  src/qt/locale/dash_it.ts
  src/qt/locale/dash_ja.ts
  src/qt/locale/dash_ko.ts
  src/qt/locale/dash_nl.ts
  src/qt/locale/dash_pl.ts
  src/qt/locale/dash_pt.ts
  src/qt/locale/dash_ro.ts
  src/qt/locale/dash_ru.ts
  src/qt/locale/dash_sk.ts
  src/qt/locale/dash_th.ts
  src/qt/locale/dash_tr.ts
  src/qt/locale/dash_vi.ts
  src/qt/locale/dash_zh_CN.ts
  src/qt/locale/dash_zh_TW.ts
Labels: backport-candidate-16.x

#3734 qt: Fix font size and scaling issues
  src/qt/addresstablemodel.cpp
  src/qt/appearancewidget.cpp
  src/qt/appearancewidget.h
  src/qt/bitcoingui.cpp
  src/qt/bitcoingui.h
  src/qt/guiutil.cpp
  src/qt/guiutil.h
  src/qt/masternodelist.cpp
  src/qt/modaloverlay.cpp
  src/qt/optionsdialog.cpp
  src/qt/optionsdialog.h
  src/qt/overviewpage.cpp
  src/qt/receivecoinsdialog.cpp
  src/qt/receiverequestdialog.cpp
  src/qt/res/css/general.css
  src/qt/rpcconsole.cpp
  src/qt/sendcoinsdialog.cpp
  src/qt/sendcoinsentry.cpp
  src/qt/signverifymessagedialog.cpp
  src/qt/trafficgraphwidget.cpp
  src/qt/utilitydialog.cpp
  src/qt/walletview.cpp
Labels: backport-candidate-16.x

#3744 qt: Fix Recent transactions list height
  src/qt/overviewpage.cpp
Labels: backport-candidate-16.x

#3746 qt: Fix font family updates
  src/qt/guiutil.cpp
  src/qt/overviewpage.cpp
Labels: backport-candidate-16.x
