Repository dashpay/dash, pull requests merged in 2020-11, with the labels that each got.

#3785 Backport 15730: rpc: Show scanning details in getwalletinfo
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: RPC, backport-candidate-16.x

#3784 Backport "candidates" from develop into 0.16.x
  contrib/windeploy/win-codesign.cert
  depends/packages/qt.mk
  src/llmq/quorums_chainlocks.cpp
  src/llmq/quorums_dkgsession.cpp
  src/llmq/quorums_dkgsession.h
  src/llmq/quorums_dkgsessionhandler.cpp
  src/llmq/quorums_instantsend.cpp
  src/llmq/quorums_signing.cpp
  src/net_processing.cpp
  src/qt/bitcoingui.cpp
  src/qt/guiutil.cpp
  src/qt/guiutil.h
  src/qt/optionsmodel.cpp
  src/qt/res/css/dark.css
  src/qt/res/css/light.css
  src/qt/rpcconsole.cpp
  src/qt/rpcconsole.h
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: RPC

#3789 Bump chainparams for v0.16.1
  src/chainparams.cpp
Labels: backport-candidate-16.x

#3791 contrib|src: Update hard coded seeds
  contrib/seeds/nodes_main.txt
  contrib/seeds/nodes_test.txt
  src/chainparamsseeds.h
Labels: backport-candidate-16.x

#3816 qt: Fix wallet encryption dialog
  src/qt/bitcoingui.cpp
  src/qt/walletframe.cpp
  src/qt/walletframe.h
  src/qt/walletview.cpp
  src/qt/walletview.h
Labels: backport-candidate-16.x, bug

#3794 rpc: Fix inconsistencies in gobject_prepare and gobject_submit
  src/rpc/governance.cpp
Labels: RPC

#3821 rpc: Show devnet name in getblockchaininfo
  src/rpc/blockchain.cpp
Labels: RPC

#3823 Fix a crash when a new devnet is started/joined
  src/validation.cpp
Labels: bug

#3738 rpc: implement whitelist for commands needed by Dash Platform
  src/httprpc.cpp
  src/init.cpp
  src/rpc/protocol.h
  src/rpc/server.cpp
  test/functional/rpc_platform_filter.py
  test/functional/test_runner.py
Labels: RPC

#3828 Fix a couple of issues with `-rescan`
  src/qt/forms/debugwindow.ui
  src/qt/rpcconsole.cpp
  src/qt/rpcconsole.h
  src/wallet/init.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  src/wallet/walletdb.h
Labels: RPC

#3835 rpc: Fix "help" rpc
  src/rpc/server.cpp
Labels: RPC

#3830 rpc: Add `submit` option to `protx register(_fund)` RPC commands
  src/rpc/rpcevo.cpp
  test/functional/test_framework/test_framework.py
Labels: RPC

#3837 Fix `Node::getLogCategories()` to work with Dash-specific log categories
  src/interfaces/node.cpp
  src/interfaces/node.h
Labels: bug
