Repository dashpay/dash, pull requests merged in 2020-04, with the labels that each got.

#3390 Implement checking of open ports and min proto versions in DKGs
  src/chainparams.cpp
  src/evo/providertx.cpp
  src/init.cpp
  src/llmq/quorums_dkgsession.cpp
  src/llmq/quorums_dkgsession.h
  src/masternode/activemasternode.cpp
  src/masternode/masternode-sync.cpp
  src/net.cpp
  src/net_processing.cpp
  src/version.h
  test/functional/llmq-simplepose.py
  test/functional/test_framework/test_framework.py
Labels: P2P, backport-candidate-15.x

#3391 Increase DIP0008 bip9 window by 10 years
  src/chainparams.cpp
Labels: backport-candidate-15.x

#3389 Implement "concentrated recovery" of LLMQ signatures
  src/chainparams.cpp
  src/consensus/params.h
  src/llmq/quorums_signing_shares.cpp
  src/llmq/quorums_signing_shares.h
  src/protocol.cpp
  src/protocol.h
  src/rpc/rpcquorums.cpp
  test/functional/llmq-signing.py
  test/functional/test_framework/test_framework.py
  test/functional/test_runner.py
Labels: P2P, RPC, backport-candidate-15.x

#3397 Backport bitcoin#14897 and bitcoin#15834 and modify it to work with Dash messages
  src/Makefile.bench.include
  src/bench/util_time.cpp
  src/governance/governance.cpp
  src/llmq/quorums_blockprocessor.cpp
  src/llmq/quorums_chainlocks.cpp
  src/llmq/quorums_dkgsessionhandler.cpp
  src/llmq/quorums_dkgsessionhandler.h
  src/llmq/quorums_instantsend.cpp
  src/llmq/quorums_signing.cpp
  src/net.cpp
  src/net.h
  src/net_processing.cpp
  src/net_processing.h
  src/random.cpp
  src/random.h
  src/spork.cpp
  src/test/util_tests.cpp
  src/utiltime.cpp
  src/utiltime.h
  test/functional/p2p-instantsend.py
  test/functional/test_framework/test_framework.py
  test/functional/test_framework/util.py
  test/functional/walletbackup.py
Labels: P2P

#3411 Merge bitcoin#11281: Avoid permanent cs_main/cs_wallet lock during RescanFromTime
  src/qt/test/wallettests.cpp
  src/validation.cpp
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: RPC

#3422 Implement more reliable wait_for_masternode_probes in test framework
  src/rpc/rpcquorums.cpp
  test/functional/llmq-simplepose.py
  test/functional/test_framework/test_framework.py
Labels: RPC

#3426 Backport Wallet refactoring and external wallet files 11687 and 13017
  doc/release-notes.md
  src/bench/coin_selection.cpp
  src/dash-cli.cpp
  src/privatesend/privatesend-client.cpp
  src/qt/dash.cpp
  src/qt/optionsdialog.cpp
  src/qt/rpcconsole.cpp
  src/qt/test/wallettests.cpp
  src/qt/walletmodel.cpp
  src/wallet/db.cpp
  src/wallet/db.h
  src/wallet/init.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/test/accounting_tests.cpp
  src/wallet/test/wallet_test_fixture.cpp
  src/wallet/test/wallet_test_fixture.h
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  src/wallet/walletdb.h
  test/functional/conf_args.py
  test/functional/multiwallet.py
Labels: RPC
