Repository dashpay/dash, pull requests merged in 2020-01, with the labels that each got.

#3259 Fix params.size() check in "protx list wallet" RPC
  src/rpc/rpcevo.cpp
Labels: RPC, backport-candidate-15.x

#3246 Streamline, refactor and unify PS checks for mixing entries and final txes
  src/privatesend/privatesend-client.cpp
  src/privatesend/privatesend-server.cpp
  src/privatesend/privatesend-server.h
  src/privatesend/privatesend.cpp
  src/privatesend/privatesend.h
Labels: backport-candidate-15.x

#3250 Push islock invs when syncing mempool
  src/llmq/quorums_instantsend.cpp
  src/llmq/quorums_instantsend.h
  src/net_processing.cpp
Labels: P2P, backport-candidate-15.x

#3251 Sync mempool from other nodes on start
  src/init.cpp
  src/masternode/masternode-sync.cpp
  src/validation.h
Labels: backport-candidate-15.x

#3255 Don't disconnect masternode connections when we have less then the desired amount of outbound nodes
  src/masternode/masternode-utils.cpp
  src/net.cpp
  src/net.h
Labels: backport-candidate-15.x

#3258 Backport osslsigncode 2.0
  contrib/gitian-build.py
  contrib/gitian-descriptors/gitian-win-signer.yml
  doc/release-process.md
Labels: backport-candidate-15.x

#3263 A few fixes for integration tests
  test/functional/p2p-versionbits-warning.py
  test/functional/wallet-encryption.py
Labels: backport-candidate-15.x

#3264 Use -Wno-psabi for arm builds on Travis/Gitlab
  ci/matrix.sh
Labels: backport-candidate-15.x

#3266 Backports 0.16 pr1-3: rpc
  doc/developer-notes.md
  src/Makefile.am
  src/dash-cli.cpp
  src/init.cpp
  src/qt/test/rpcnestedtests.cpp
  src/rpc/blockchain.cpp
  src/rpc/governance.cpp
  src/rpc/masternode.cpp
  src/rpc/mining.cpp
  src/rpc/misc.cpp
  src/rpc/net.cpp
  src/rpc/privatesend.cpp
  src/rpc/rawtransaction.cpp
  src/rpc/rpcevo.cpp
  src/rpc/rpcquorums.cpp
  src/rpc/safemode.cpp
  src/rpc/safemode.h
  src/rpc/server.cpp
  src/rpc/server.h
  src/validation.cpp
  src/validation.h
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  test/functional/bitcoin_cli.py
  test/functional/mempool_persist.py
Labels: RPC

#3265 Tweak few more strings re mixing and balances
  src/init.cpp
  src/qt/forms/optionsdialog.ui
  src/qt/overviewpage.cpp
  src/qt/sendcoinsdialog.cpp
  src/rpc/misc.cpp
  src/rpc/privatesend.cpp
  src/wallet/rpcwallet.cpp
Labels: backport-candidate-15.x

#3267 AppInitMain should quit early and return `false` if shutdown was requested at some point
  src/init.cpp
Labels: backport-candidate-15.x

#3272 Drop new connection instead of old one when duplicate MNAUTH is received
  src/evo/mnauth.cpp
Labels: backport-candidate-15.x

#3271 Show quorum connections in "quorum dkgstatus" and use it in mine_quorum
  src/rpc/rpcquorums.cpp
  test/functional/llmq-simplepose.py
  test/functional/test_framework/test_framework.py
Labels: RPC

#3280 Don't load caches when blocks/chainstate was deleted and also delete old caches
  src/init.cpp
Labels: backport-candidate-15.x

#3285 Only load valid themes, fallback to "Light" theme otherwise
  src/qt/dash.qrc
  src/qt/guiutil.cpp
  src/qt/optionsdialog.cpp
Labels: backport-candidate-15.x

#3286 Let regtest have its own qt settings
  src/qt/guiconstants.h
  src/qt/networkstyle.cpp
Labels: backport-candidate-15.x

#3287 Bump PROTOCOL_VERSION
  src/version.h
Labels: backport-candidate-15.x

#3288 Define defaultTheme and darkThemePrefix as constants and use them instead of plain strings
  src/qt/guiutil.cpp
Labels: backport-candidate-15.x

#3291 Update man pages 2020-01
  doc/man/dash-qt.1
  doc/man/dashd.1
Labels: backport-candidate-15.x

#3209 trivial: adding SVG and high contrast icons
  share/pixmaps/dash-HighContrast-128.png
  share/pixmaps/dash-HighContrast-16.png
  share/pixmaps/dash-HighContrast-22.png
  share/pixmaps/dash-HighContrast-24.png
  share/pixmaps/dash-HighContrast-256.png
  share/pixmaps/dash-HighContrast-32.png
  share/pixmaps/dash-HighContrast-48.png
  share/pixmaps/dash-HighContrast-scalable.svg
  share/pixmaps/dash-hicolor-scalable.svg
  share/pixmaps/favicon.png
Labels: backport-candidate-15.x

#3192 Translations 2020-01
  src/Makefile.qt.include
  src/qt/dash_locale.qrc
  src/qt/dashstrings.cpp
  src/qt/locale/dash_ar.ts
  src/qt/locale/dash_bg.ts
  src/qt/locale/dash_de.ts
  src/qt/locale/dash_en.ts
  src/qt/locale/dash_es.ts
  src/qt/locale/dash_fi.ts
  src/qt/locale/dash_fr.ts
  src/qt/locale/dash_it.ts
  src/qt/locale/dash_ja.ts
  src/qt/locale/dash_ko.ts
  src/qt/locale/dash_nl.ts
  src/qt/locale/dash_pl.ts
  src/qt/locale/dash_pt.ts
  src/qt/locale/dash_ro.ts
  src/qt/locale/dash_ru.ts
  src/qt/locale/dash_sk.ts
  src/qt/locale/dash_sv.ts
  src/qt/locale/dash_th.ts
  src/qt/locale/dash_tr.ts
  src/qt/locale/dash_vi.ts
  src/qt/locale/dash_zh_CN.ts
  src/qt/locale/dash_zh_TW.ts
Labels: backport-candidate-15.x

#3292 Replace generic CScopedDBTransaction with specialized CEvoDBScopedCommitter
  src/dbwrapper.h
  src/evo/evodb.cpp
  src/evo/evodb.h
Labels: backport-candidate-15.x

#3289 Backports 0.16 pr4
  CONTRIBUTING.md
  Makefile.am
  configure.ac
  contrib/verify-commits/verify-commits.sh
  src/Makefile.am
  src/Makefile.qt.include
  src/addrman.h
  src/dash-tx.cpp
  src/dashd.cpp
  src/init.cpp
  src/net_processing.cpp
  src/netbase.cpp
  src/qt/askpassphrasedialog.cpp
  src/qt/askpassphrasedialog.h
  src/qt/coincontroldialog.cpp
  src/qt/forms/askpassphrasedialog.ui
  src/qt/test/wallettests.cpp
  src/qt/walletview.cpp
  src/rest.cpp
  src/rpc/blockchain.cpp
  src/rpc/client.cpp
  src/rpc/misc.cpp
  src/test/checkqueue_tests.cpp
  src/tinyformat.h
  src/validation.cpp
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  test/functional/test_runner.py
  test/functional/uacomment.py
  test/functional/wallet-hd.py
  test/functional/zmq_test.py
Labels: RPC

#3295 Various fixes for DSTX-es
  src/dsnotificationinterface.cpp
  src/net.h
  src/net_processing.cpp
  src/privatesend/privatesend.cpp
  src/privatesend/privatesend.h
Labels: P2P, backport-candidate-15.x

#3297 Fix dip4-coinbasemerkleroots.py race condition
  test/functional/dip4-coinbasemerkleroots.py
Labels: backport-candidate-15.x

#3298 Backport bitcoin#11027: [RPC] Only return hex field once in getrawtransaction
  src/core_io.h
  src/core_write.cpp
  src/rpc/blockchain.cpp
  src/rpc/rawtransaction.cpp
Labels: RPC

#3302 Update translations 2020-01-23
  src/qt/locale/dash_es.ts
  src/qt/locale/dash_ko.ts
  src/qt/locale/dash_ro.ts
  src/qt/locale/dash_zh_TW.ts
Labels: backport-candidate-15.x

#3303 Drop unused `invSet` in `CDKGSession`
  src/llmq/quorums_dkgsession.cpp
  src/llmq/quorums_dkgsession.h
Labels: backport-candidate-15.x

#3304 Fix CActiveMasternodeManager::GetLocalAddress to prefer IPv4 if multiple local addresses are known
  src/masternode/activemasternode.cpp
Labels: backport-candidate-15.x

#3307 Add `automake` package to dash-win-signer's packages list
  contrib/gitian-descriptors/gitian-win-signer.yml
Labels: backport-candidate-15.x

#3300 Backports 0.16 pr5
  contrib/init/dashd.service
  src/Makefile.am
  src/Makefile.bench.include
  src/arith_uint256.h
  src/chain.h
  src/coins.cpp
  src/consensus/consensus.h
  src/init.cpp
  src/net.cpp
  src/protocol.h
  src/qt/forms/receivecoinsdialog.ui
  src/qt/forms/sendcoinsentry.ui
  src/qt/guiutil.cpp
  src/qt/guiutil.h
  src/qt/paymentrequestplus.cpp
  src/qt/paymentserver.cpp
  src/qt/peertablemodel.cpp
  src/qt/peertablemodel.h
  src/qt/receivecoinsdialog.cpp
  src/qt/rpcconsole.cpp
  src/qt/rpcconsole.h
  src/qt/sendcoinsdialog.cpp
  src/qt/sendcoinsdialog.h
  src/qt/sendcoinsentry.cpp
  src/qt/sendcoinsentry.h
  src/qt/test/wallettests.cpp
  src/qt/transactiondesc.cpp
  src/qt/transactionrecord.cpp
  src/qt/transactiontablemodel.cpp
  src/qt/walletmodeltransaction.cpp
  src/rpc/blockchain.cpp
  src/test/DoS_tests.cpp
  src/test/blockencodings_tests.cpp
  src/test/mempool_tests.cpp
  src/test/test_dash.cpp
  src/test/test_dash_fuzzy.cpp
  src/test/txvalidationcache_tests.cpp
  src/txdb.h
  src/txmempool.cpp
  src/txmempool.h
  src/uint256.h
  src/validation.cpp
  src/validation.h
  src/wallet/crypter.h
  src/wallet/init.cpp
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/test/accounting_tests.cpp
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  test/functional/blockchain.py
  test/functional/receivedby.py
  test/functional/wallet-accounts.py
Labels: RPC
