Repository dashpay/dash, pull requests merged in 2020-03, with the labels that each got.

#3354 Backports 0.16 pr10
  CONTRIBUTING.md
  Makefile.am
  contrib/debian/copyright
  contrib/debian/examples/dash.conf
  doc/bips.md
  doc/developer-notes.md
  doc/files.md
  share/rpcauth/README.md
  share/rpcauth/rpcauth.py
  share/rpcuser/README.md
  src/bench/base58.cpp
  src/bench/checkqueue.cpp
  src/chainparams.cpp
  src/compat.h
  src/init.cpp
  src/key.cpp
  src/key.h
  src/miner.cpp
  src/miner.h
  src/net_processing.cpp
  src/policy/fees.cpp
  src/protocol.h
  src/pubkey.cpp
  src/pubkey.h
  src/qt/optionsdialog.cpp
  src/qt/optionsmodel.cpp
  src/qt/optionsmodel.h
  src/random.h
  src/rpc/blockchain.cpp
  src/rpc/misc.cpp
  src/rpc/rawtransaction.cpp
  src/script/interpreter.cpp
  src/support/cleanse.cpp
  src/test/checkqueue_tests.cpp
  src/test/mempool_tests.cpp
  src/txmempool.h
  src/validation.cpp
  src/validation.h
  src/wallet/init.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  src/wallet/walletutil.cpp
  src/wallet/walletutil.h
  test/functional/conf_args.py
  test/functional/create_cache.py
  test/functional/mempool_limit.py
  test/functional/multiwallet.py
  test/functional/node_network_limited.py
  test/functional/p2p-versionbits-warning.py
  test/functional/prioritise_transaction.py
  test/functional/rawtransactions.py
  test/functional/rpcnamedargs.py
  test/functional/test_framework/test_framework.py
  test/functional/test_framework/test_node.py
  test/functional/test_runner.py
  test/functional/wallet-encryption.py
  test/functional/wallet.py
Labels: RPC

#3361 Backports 0.16 pr11
  src/Makefile.test.include
  src/dash-cli.cpp
  src/init.cpp
  src/llmq/quorums_debug.h
  src/net_processing.cpp
  src/privatesend/privatesend-server.cpp
  src/privatesend/privatesend.cpp
  src/qt/dash.cpp
  src/rpc/misc.cpp
  src/rpc/net.cpp
  src/rpc/rawtransaction.cpp
  src/test/txvalidation_tests.cpp
  src/test/txvalidationcache_tests.cpp
  src/util.cpp
  src/validation.cpp
  src/validation.h
  src/wallet/wallet.cpp
  test/functional/bitcoin_cli.py
  test/functional/uacomment.py
Labels: RPC

#3363 Add peer id to "socket send error" logs
  src/net.cpp
Labels: backport-candidate-15.x

#3365 Fix possible segfault
  src/llmq/quorums_chainlocks.cpp
Labels: backport-candidate-15.x

#3370 Remove logging for waking of select()
  src/net.cpp
Labels: backport-candidate-15.x

#3366 Multiple fixes for masternode connection handling
  src/chainparams.cpp
  src/chainparams.h
  src/masternode/masternode-meta.cpp
  src/masternode/masternode-meta.h
  src/net.cpp
  src/net.h
  src/privatesend/privatesend-client.cpp
  test/functional/llmq-is-retroactive.py
Labels: backport-candidate-15.x

#3367 Refactor and unify quorum connection handling
  src/llmq/quorums.cpp
  src/llmq/quorums_dkgsessionhandler.cpp
  src/llmq/quorums_utils.cpp
  src/llmq/quorums_utils.h
  src/net.cpp
  src/net.h
Labels: backport-candidate-15.x

#3368 Don't relay anything to inbound/outbound fMasternode connections
  src/llmq/quorums_signing.cpp
  src/masternode/masternode-utils.cpp
  src/net.cpp
  src/net.h
  src/net_processing.cpp
  src/rpc/net.cpp
  test/functional/llmq-chainlocks.py
Labels: P2P, RPC, backport-candidate-15.x

#3375 Faster opening of masternode connections
  src/net.cpp
Labels: backport-candidate-15.x

#3381 Better/more logging for DKGs
  src/llmq/quorums_dkgsession.cpp
  src/llmq/quorums_dkgsession.h
  src/llmq/quorums_dkgsessionhandler.cpp
Labels: backport-candidate-15.x

#3382 Also verify quorumHash when waiting for DKG phases
  test/functional/test_framework/test_framework.py
Labels: backport-candidate-15.x

#3379 Hold CEvoDB lock while iterating mined commitments
  src/evo/evodb.h
  src/llmq/quorums_blockprocessor.cpp
Labels: backport-candidate-15.x

#3383 Bump mocktime each time waiting for phase1 fails
  test/functional/test_framework/test_framework.py
Labels: backport-candidate-15.x

#3380 Let all LLMQ members connect to each other instead of only a few ones
  src/evo/mnauth.cpp
  src/llmq/quorums_dkgsessionhandler.cpp
  src/llmq/quorums_utils.cpp
  src/llmq/quorums_utils.h
  src/masternode/masternode-meta.cpp
  src/masternode/masternode-meta.h
  src/masternode/masternode-utils.cpp
  src/net.cpp
  src/net.h
  src/net_processing.cpp
  src/rpc/rpcevo.cpp
  src/rpc/rpcquorums.cpp
  src/spork.cpp
  src/spork.h
  src/version.h
  test/functional/llmq-connections.py
  test/functional/test_framework/test_framework.py
  test/functional/test_runner.py
Labels: P2P, RPC, backport-candidate-15.x

#3384 Move wait_proc into wait_for_quorum_connections
  test/functional/test_framework/test_framework.py
Labels: backport-candidate-15.x

#3385 Implement more randomized behavior in GetQuorumConnections
  src/llmq/quorums_utils.cpp
Labels: backport-candidate-15.x
