Repository dashpay/dash, pull requests merged in 2020-02, with the labels that each got.

#3314 Fix node protection logic false positives
  src/net.cpp
  src/net_processing.cpp
Labels: backport-candidate-15.x

#3315 Fix dark text on dark background in combobox dropdowns on windows
  src/qt/res/css/dark.css
Labels: backport-candidate-15.x

#3321 Only sync mempool from v0.15+ (proto 70216+) nodes
  src/masternode/masternode-sync.cpp
Labels: backport-candidate-15.x

#3322 Update translations 2020-02-03
  src/qt/locale/dash_pl.ts
  src/qt/locale/dash_tr.ts
  src/qt/locale/dash_zh_TW.ts
Labels: backport-candidate-15.x

#3327 RPC: add pubKeyOperator to `quorum info`
  src/rpc/rpcquorums.cpp
Labels: RPC, backport-candidate-15.x

#3329 Bring back "about" menu icon
  src/Makefile.qt.include
  src/qt/dash.qrc
Labels: backport-candidate-15.x

#3332 Try to actually accept newly created dstx-es into masternode's mempool
  src/privatesend/privatesend-server.cpp
Labels: backport-candidate-15.x, bug

#3336 Bump nMinimumChainWork and defaultAssumeValid
  src/chainparams.cpp
Labels: backport-candidate-15.x
