Repository dashpay/dash, pull requests merged in 2020-10, with the labels that each got.

#3755 qt: Make sure there is a valid theme set in the options
  src/qt/guiutil.cpp
  src/qt/guiutil.h
  src/qt/optionsmodel.cpp
Labels: backport-candidate-16.x

#3756 depends: Update Qt download url
  depends/packages/qt.mk
Labels: backport-candidate-16.x

#3749 update public part of windows code signing certificate
  contrib/windeploy/win-codesign.cert
Labels: backport-candidate-16.x

#3766 Fix IS-locks sync via `mempool` p2p command
  src/net_processing.cpp
Labels: backport-candidate-16.x, bug

#3770 qt: Do not show a check-mark for "Encrypt wallet" menu item
  src/qt/bitcoingui.cpp
Labels: backport-candidate-16.x

#3771 qt: avoid auto-updating window width when it's in full screen or when it's maximized
  src/qt/bitcoingui.cpp
Labels: backport-candidate-16.x

#3762 qt: Fix --disable-wallet build and --disablewallet mode
  src/qt/bitcoingui.cpp
  src/qt/res/css/dark.css
  src/qt/res/css/light.css
  src/qt/rpcconsole.cpp
  src/qt/rpcconsole.h
  src/qt/splashscreen.cpp
Labels: backport-candidate-16.x, bug

#3772 qt: Handle fonts of deleted widgets properly, streamline the flow in `GUIUtil::updateFonts`
  src/qt/guiutil.cpp
Labels: backport-candidate-16.x

#3773 rpc: Do not require a privkey corresponding to ownerAddress in `protx register_*` to be known by the wallet
  src/rpc/rpcevo.cpp
Labels: RPC

#3782 Avoid accessing pendingContributionVerifications from VerifyPendingContributions while ReceiveMessage is still doing its job
  src/llmq/quorums_dkgsession.cpp
  src/llmq/quorums_dkgsession.h
Labels: backport-candidate-16.x, bug

#3783 Call EraseObjectRequest as soon as an object is read from the stream
  src/llmq/quorums_chainlocks.cpp
  src/llmq/quorums_dkgsessionhandler.cpp
  src/llmq/quorums_instantsend.cpp
  src/llmq/quorums_signing.cpp
  src/net_processing.cpp
Labels: backport-candidate-16.x, bug
