Repository dashpay/dash, pull requests merged in 2020-12, with the labels that each got.

#3811 rpc|governance|test: Store prepared governance objects and implement "gobject list-prepared"
  src/governance/governance-object.cpp
  src/governance/governance-object.h
  src/rpc/governance.cpp
  test/functional/feature_governance_objects.py
  test/functional/test_runner.py
Labels: RPC

#3846 IsTxSafeForMining should not fail if ChainLocks are enabled but not enforced
  src/llmq/quorums_chainlocks.cpp
Labels: bug

#3851 qt: Fix the direction of some arrows in light theme
  src/qt/res/css/light.css
Labels: backport-candidate-16.x

#3857 interfaces: Add isSpendable wallet interface method that accepts CScript
  src/interfaces/wallet.cpp
  src/interfaces/wallet.h
Labels: bug

#3858 wallet|init: Fix forcing -disablewallet if -masternodeblsprivkey is set
  src/init.cpp
  src/wallet/init.cpp
Labels: bug

#3856 rpc: Fix filtering in `masternode winners`
  src/rpc/masternode.cpp
Labels: RPC, bug

#3849 qt: Fix default font weight values if selected values aren't supported by the font
  src/qt/guiutil.cpp
Labels: backport-candidate-16.x

#3863 rpc: Add `masternode payments`
  src/rpc/masternode.cpp
  test/functional/rpc_masternode.py
  test/functional/test_runner.py
Labels: RPC

#3872 init: Fix `-vbparams` parsing
  src/init.cpp
Labels: bug

#3877 Backports 0.17 pr24
  contrib/devtools/optimize-pngs.py
  contrib/macdeploy/macdeployqtplus
  contrib/testgen/gen_base58_test_vectors.py
  doc/release-notes.md
  src/addrman.h
  src/base58.cpp
  src/init.cpp
  src/logging.cpp
  src/qt/dash.cpp
  src/qt/guiutil.cpp
  src/qt/guiutil.h
  src/qt/paymentserver.cpp
  src/qt/rpcconsole.cpp
  src/qt/test/uritests.cpp
  src/qt/walletframe.cpp
  src/rpc/blockchain.cpp
  src/rpc/rawtransaction.cpp
  src/test/data/base58_encode_decode.json
  src/test/util_tests.cpp
  src/util.cpp
  src/util.h
  src/utiltime.cpp
  src/utiltime.h
  src/validation.cpp
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  test/functional/combine_logs.py
  test/functional/feature_assumevalid.py
  test/functional/feature_config_args.py
  test/functional/feature_fee_estimation.py
  test/functional/feature_pruning.py
  test/functional/mempool_packages.py
  test/functional/mempool_persist.py
  test/functional/p2p_compactblocks.py
  test/functional/p2p_leak.py
  test/functional/p2p_sendheaders.py
  test/functional/p2p_timeouts.py
  test/functional/rpc_bind.py
  test/functional/rpc_users.py
  test/functional/test_framework/mininode.py
  test/functional/test_framework/test_framework.py
  test/functional/test_framework/test_node.py
  test/functional/test_framework/util.py
  test/functional/test_runner.py
  test/functional/wallet_backup.py
  test/functional/wallet_hd.py
  test/functional/wallet_keypool_topup.py
  test/functional/wallet_multiwallet.py
  test/util/data/bitcoin-util-test.json
Labels: RPC

#3879 rpc: fix help for gobject_list_prepared
  src/rpc/governance.cpp
Labels: RPC

#3880 backport: bitcoin#10583 - [RPC] Split part of validateaddress into getaddressinfo
  src/Makefile.am
  src/Makefile.bench.include
  src/rpc/misc.cpp
  src/rpc/util.cpp
  src/rpc/util.h
  src/wallet/rpcwallet.cpp
  src/wallet/rpcwallet.h
  test/functional/feature_dip3_deterministicmns.py
  test/functional/rpc_deprecated.py
  test/functional/rpc_fundrawtransaction.py
  test/functional/rpc_fundrawtransaction_hd.py
  test/functional/rpc_listtransactions.py
  test/functional/rpc_rawtransaction.py
  test/functional/wallet_basic.py
  test/functional/wallet_dump.py
  test/functional/wallet_hd.py
  test/functional/wallet_import_rescan.py
  test/functional/wallet_importmulti.py
  test/functional/wallet_importprunedfunds.py
  test/functional/wallet_keypool_hd.py
  test/functional/wallet_keypool_topup.py
Labels: RPC

#3885 rpc: Fix "submit" param parsing in `protx register(_fund)`
  src/rpc/rpcevo.cpp
Labels: bug

#3882 Backports 0.17 pr25
  contrib/auto_gdb/dash_dbg.sh
  contrib/devtools/gen-manpages.sh
  contrib/gitian-descriptors/gitian-linux.yml
  contrib/gitian-descriptors/gitian-osx-signer.yml
  contrib/gitian-descriptors/gitian-osx.yml
  contrib/gitian-descriptors/gitian-win.yml
  contrib/init/dashd.init
  contrib/macdeploy/extract-osx-sdk.sh
  contrib/verify-commits/pre-push-hook.sh
  contrib/verifybinaries/verify.sh
  src/bench/bench_dash.cpp
  src/dash-tx.cpp
  src/keystore.h
  src/merkleblock.h
  src/rpc/mining.cpp
  src/rpc/rawtransaction.cpp
  src/test/dbwrapper_tests.cpp
  src/test/net_tests.cpp
  src/test/test_dash.cpp
  src/test/test_dash.h
  src/test/util_tests.cpp
  src/validation.cpp
  src/wallet/crypter.h
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  test/functional/interface_zmq.py
  test/functional/interface_zmq_dash.py
  test/functional/rpc_txoutproof.py
  test/functional/rpc_zmq.py
  test/functional/test_framework/messages.py
  test/functional/test_framework/test_framework.py
  test/functional/test_framework/test_node.py
  test/lint/lint-all.sh
  test/lint/lint-filenames.sh
  test/lint/lint-include-guards.sh
  test/lint/lint-includes.sh
  test/lint/lint-locale-dependence.sh
  test/lint/lint-logs.sh
  test/lint/lint-python-shebang.sh
  test/lint/lint-python-utf8-encoding.sh
  test/lint/lint-shell-locale.sh
  test/lint/lint-shell.sh
  test/lint/lint-tests.sh
  test/lint/lint-whitespace.sh
  test/util/data/bitcoin-util-test.json
Labels: RPC

#3862 rpc: `masternode winners` results should also include operator addresses
  src/rpc/masternode.cpp
  test/functional/rpc_masternode.py
  test/functional/test_framework/test_framework.py
Labels: RPC

#3881 rpc: remove duplicated type field from gobject list-prepared
  src/governance/governance-object.cpp
  test/functional/feature_governance_objects.py
Labels: RPC

#3895 Avoid writing uninitialized bytes in WakeSelect()
  src/net.cpp
Labels: bug

#3901 Fix versionbits cache usage in IsQuorumTypeEnabled
  src/llmq/quorums_init.cpp
  src/llmq/quorums_utils.cpp
  src/llmq/quorums_utils.h
Labels: bug

#3886 backport: Deprecate accounts
  src/interfaces/wallet.cpp
  src/rpc/client.cpp
  src/rpc/protocol.h
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  src/wallet/walletdb.h
  test/functional/rpc_deprecated.py
  test/functional/test_runner.py
  test/functional/wallet_accounts.py
  test/functional/wallet_basic.py
  test/functional/wallet_import_rescan.py
  test/functional/wallet_importprunedfunds.py
  test/functional/wallet_labels.py
  test/functional/wallet_listreceivedby.py
  test/functional/wallet_listtransactions.py
  test/functional/wallet_txn_clone.py
  test/functional/wallet_txn_doublespend.py
Labels: RPC
