Repository dashpay/dash, pull requests merged in 2021-01, with the labels that each got.

#3912 Fix quorum selection for low heights
  src/llmq/quorums_signing.cpp
Labels: bug

#3904 rpc: Introduce `quorum verify`
  src/rpc/rpcquorums.cpp
  test/functional/feature_llmq_signing.py
Labels: RPC

#3922 Add runtime error for Generate commands when the build compiles without mining support
  src/rpc/mining.cpp
  src/wallet/rpcwallet.cpp
Labels: RPC

#3906 rpc: Introduce `verifyislock`
  src/rpc/rpcquorums.cpp
  test/functional/rpc_verifyislock.py
  test/functional/test_runner.py
Labels: RPC

#3914 llmq|rpc|test: Fix "quorumHash" parameter of "quorum sign"
  src/llmq/quorums_instantsend.cpp
  src/llmq/quorums_signing.cpp
  src/llmq/quorums_signing.h
  src/rpc/rpcquorums.cpp
  test/functional/feature_llmq_signing.py
Labels: RPC

#3908 Adjust version formatting and add formatted version to rpc
  src/clientversion.cpp
  src/rpc/net.cpp
  src/test/util_tests.cpp
Labels: RPC

#3917 llmq|rpc|test: Add optional "submit" parameter to "quorum sign"
  src/llmq/quorums_signing_shares.cpp
  src/llmq/quorums_signing_shares.h
  src/rpc/rpcquorums.cpp
  test/functional/feature_llmq_signing.py
  test/functional/test_framework/messages.py
Labels: RPC

#3924 Always mark conflicting blocks with BLOCK_CONFLICT_CHAINLOCK flag
  src/llmq/quorums_chainlocks.cpp
  src/llmq/quorums_chainlocks.h
  src/rpc/blockchain.cpp
  src/validation.cpp
  src/validation.h
  test/functional/feature_llmq_chainlocks.py
Labels: RPC

#3929 net|rpc: getpeerinfo - Add verified_pubkey_hash, fix a typo in verified_proregtx_hash docs
  src/net.cpp
  src/net.h
  src/rpc/net.cpp
Labels: RPC

#3930 rpc|test: Introduce "mnauth" RPC command to override masternode authentications
  src/rpc/misc.cpp
  test/functional/rpc_mnauth.py
  test/functional/test_runner.py
Labels: RPC

#3933 wallet: Upgrade path for non-HD wallets to HD
  src/hdchain.cpp
  src/wallet/crypter.cpp
  src/wallet/crypter.h
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  test/functional/test_runner.py
  test/functional/wallet_upgradetohd.py
Labels: RPC

#3963 Flush callbacks one more time at shutdown
  src/init.cpp
Labels: bug

#3953 llmq|rpc|test|version: Implement P2P messages QGETDATA <-> QDATA
  src/llmq/quorums.cpp
  src/llmq/quorums.h
  src/net_processing.cpp
  src/protocol.cpp
  src/protocol.h
  src/rpc/rpcquorums.cpp
  src/version.h
  test/functional/p2p_quorum_data.py
  test/functional/test_framework/messages.py
  test/functional/test_framework/mininode.py
  test/functional/test_framework/test_framework.py
  test/functional/test_runner.py
Labels: P2P, RPC
