Repository dashpay/dash, pull requests merged in 2021-11, with the labels that each got.

#4494 merge bitcoin#14150, #14477, #14646, #14667, #14886, #14565, #14491, #15368: descriptors
  doc/descriptors.md
  src/Makefile.am
  src/rpc/blockchain.cpp
  src/rpc/client.cpp
  src/rpc/misc.cpp
  src/script/descriptor.cpp
  src/script/descriptor.h
  src/script/sign.cpp
  src/script/sign.h
  src/test/descriptor_tests.cpp
  src/test/util_tests.cpp
  src/util/spanparsing.cpp
  src/util/spanparsing.h
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  test/functional/rpc_deriveaddresses.py
  test/functional/rpc_scantxoutset.py
  test/functional/test_framework/descriptors.py
  test/functional/test_runner.py
  test/functional/wallet_importmulti.py
Labels: RPC, Bitcoin Backport

#4559 merge bitcoin#16566...#18004: auxillary backports
  depends/packages/native_libdmg-hfsplus.mk
  src/governance/validators.cpp
  src/logging.cpp
  src/netbase.cpp
  src/netbase.h
  src/qt/clientmodel.cpp
  src/qt/clientmodel.h
  src/qt/dash.cpp
  src/rpc/masternode.cpp
  src/rpc/server.cpp
  src/test/util_tests.cpp
  src/util/strencodings.cpp
  src/util/strencodings.h
  src/util/system.cpp
Labels: Bitcoin Backport

#4537 Backport 14711, 15342, partial 15855
  src/Makefile.am
  src/interfaces/chain.cpp
  src/interfaces/chain.h
  src/interfaces/wallet.cpp
  src/optional.h
  src/qt/test/wallettests.cpp
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/test/coinjoin_tests.cpp
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Bitcoin Backport

#4561 backport trivial 2021 10 30
  src/test/compress_tests.cpp
  src/test/timedata_tests.cpp
  src/txdb.cpp
  src/validation.cpp
  src/wallet/test/db_tests.cpp
  src/wallet/test/init_tests.cpp
  src/walletinitinterface.h
  test/functional/feature_pruning.py
Labels: Bitcoin Backport

#4562 bitcoin#8365: Treat high-sigop transactions as larger rather than rejecting them
  src/bench/mempool_eviction.cpp
  src/bench/rpc_mempool.cpp
  src/init.cpp
  src/policy/policy.cpp
  src/policy/policy.h
  src/test/mempool_tests.cpp
  src/test/miner_tests.cpp
  src/test/policyestimator_tests.cpp
  src/test/setup_common.h
  src/txmempool.cpp
  src/txmempool.h
  src/validation.cpp
  src/validation.h
Labels: Bitcoin Backport

#4543 Backports 0.19 pr4
  depends/Makefile
  depends/README.md
  depends/config.site.in
  depends/packages/packages.mk
  doc/release-process.md
  src/Makefile.test.include
  src/qt/forms/debugwindow.ui
  src/test/compilerbug_tests.cpp
  src/wallet/rpcwallet.cpp
  test/functional/rpc_rawtransaction.py
  test/lint/lint-python.sh
Labels: Bitcoin Backport

#4573 Backport 15615, 16774, and 16793
  src/validation.cpp
Labels: Bitcoin Backport

#4481 Backports 0.19 pr2
  .gitignore
  configure.ac
  src/Makefile.am
  src/dash-wallet-res.rc
  src/dash-wallet.cpp
  src/qt/guiutil.cpp
  src/qt/guiutil.h
  src/qt/intro.cpp
  src/qt/intro.h
  src/qt/optionsmodel.cpp
  src/wallet/crypter.cpp
  src/wallet/crypter.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/wallettool.cpp
  src/wallet/wallettool.h
  test/config.ini.in
  test/functional/feature_filelock.py
  test/functional/interface_bitcoin_cli.py
  test/functional/test_framework/test_framework.py
  test/functional/test_runner.py
  test/functional/tool_wallet.py
Labels: Bitcoin Backport

#4558 merge bitcoin#10973, #15039, #15288: separate wallet from node
  contrib/devtools/circular-dependencies.py
  src/Makefile.am
  src/Makefile.bench.include
  src/bench/wallet_balance.cpp
  src/coinjoin/util.cpp
  src/interfaces/chain.cpp
  src/interfaces/chain.h
  src/interfaces/node.cpp
  src/interfaces/wallet.cpp
  src/node/coin.cpp
  src/node/coin.h
  src/qt/walletmodeltransaction.cpp
  src/rpc/governance.cpp
  src/rpc/mining.cpp
  src/rpc/rawtransaction.cpp
  src/rpc/server.cpp
  src/rpc/server.h
  src/rpc/util.cpp
  src/rpc/util.h
  src/test/rpc_tests.cpp
  src/ui_interface.cpp
  src/ui_interface.h
  src/wallet/fees.cpp
  src/wallet/fees.h
  src/wallet/init.cpp
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/rpcwallet.h
  src/wallet/test/coinjoin_tests.cpp
  src/wallet/test/wallet_test_fixture.cpp
  src/wallet/test/wallet_test_fixture.h
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  test/functional/test_runner.py
  test/functional/wallet_create_tx.py
  test/functional/wallet_txn_clone.py
Labels: Bitcoin Backport

#4560 merge bitcoin#15638: Pull wallet code out of libbitcoin_server
  src/Makefile.am
  src/consensus/tx_check.cpp
  src/consensus/tx_check.h
  src/consensus/tx_verify.cpp
  src/consensus/tx_verify.h
  src/init.cpp
  src/interfaces/chain.cpp
  src/interfaces/node.cpp
  src/interfaces/wallet.cpp
  src/messagesigner.cpp
  src/node/README.md
  src/node/transaction.cpp
  src/node/transaction.h
  src/policy/fees.cpp
  src/policy/fees.h
  src/policy/policy.cpp
  src/policy/policy.h
  src/policy/settings.cpp
  src/policy/settings.h
  src/rpc/net.cpp
  src/rpc/rawtransaction.cpp
  src/rpc/rawtransaction_util.cpp
  src/rpc/rawtransaction_util.h
  src/rpc/server.cpp
  src/rpc/server.h
  src/rpc/util.cpp
  src/rpc/util.h
  src/spork.cpp
  src/test/script_p2sh_tests.cpp
  src/test/script_tests.cpp
  src/test/sighash_tests.cpp
  src/test/transaction_tests.cpp
  src/txmempool.cpp
  src/util/error.cpp
  src/util/error.h
  src/validation.cpp
  src/validation.h
  src/wallet/fees.cpp
  src/wallet/init.cpp
  src/wallet/load.cpp
  src/wallet/load.h
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  test/lint/lint-circular-dependencies.sh
Labels: Bitcoin Backport

#4524 Backports 0.19 pr3
  contrib/seeds/makeseeds.py
  depends/packages.md
  depends/packages/bdb.mk
  depends/packages/fontconfig.mk
  depends/packages/freetype.mk
  depends/packages/libXau.mk
  depends/packages/libxcb.mk
  depends/packages/miniupnpc.mk
  depends/packages/xcb_proto.mk
  depends/packages/xproto.mk
  depends/packages/zlib.mk
  src/net_processing.cpp
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  test/functional/feature_pruning.py
  test/functional/test_runner.py
Labels: Bitcoin Backport

#4564 Backports 0.19 pr5
  Makefile.am
  contrib/gitian-descriptors/gitian-linux.yml
  contrib/gitian-descriptors/gitian-osx.yml
  contrib/gitian-descriptors/gitian-win.yml
  src/logging.cpp
  src/logging.h
  src/noui.cpp
  src/qt/bitcoingui.cpp
  src/qt/bitcoingui.h
  src/qt/dash.cpp
  src/qt/optionsmodel.cpp
  src/qt/paymentserver.cpp
  src/qt/test/apptests.cpp
  src/qt/test/rpcnestedtests.cpp
  src/qt/test/test_main.cpp
  src/qt/winshutdownmonitor.cpp
  src/rpc/blockchain.cpp
  src/test/blockfilter_index_tests.cpp
  src/test/dbwrapper_tests.cpp
  src/test/flatfile_tests.cpp
  src/test/fs_tests.cpp
  src/test/net_tests.cpp
  src/test/setup_common.cpp
  src/test/setup_common.h
  src/test/util_tests.cpp
  src/ui_interface.h
  src/util/system.cpp
  src/util/system.h
  src/validation.cpp
  src/wallet/test/db_tests.cpp
  src/wallet/test/init_test_fixture.cpp
  src/wallet/test/wallet_tests.cpp
  test/functional/feature_pruning.py
Labels: Bitcoin Backport

#4583 fix: datarace in walletmodel.cpp causing occasional segfaults in instantsend code at shutdown
  src/qt/walletmodel.cpp
Labels: bug

#4528 Merge bitcoin#16278: tests: Remove unused includes
  src/qt/test/addressbooktests.cpp
  src/qt/test/apptests.cpp
  src/qt/test/rpcnestedtests.cpp
  src/qt/test/rpcnestedtests.h
  src/qt/test/test_main.cpp
  src/test/allocator_tests.cpp
  src/test/arith_uint256_tests.cpp
  src/test/bip32_tests.cpp
  src/test/blockchain_tests.cpp
  src/test/blockencodings_tests.cpp
  src/test/blockfilter_index_tests.cpp
  src/test/checkqueue_tests.cpp
  src/test/coins_tests.cpp
  src/test/dbwrapper_tests.cpp
  src/test/denialofservice_tests.cpp
  src/test/flatfile_tests.cpp
  src/test/fs_tests.cpp
  src/test/fuzz/deserialize.cpp
  src/test/fuzz/fuzz.h
  src/test/fuzz/script_flags.cpp
  src/test/hash_tests.cpp
  src/test/key_tests.cpp
  src/test/mempool_tests.cpp
  src/test/miner_tests.cpp
  src/test/multisig_tests.cpp
  src/test/net_tests.cpp
  src/test/policyestimator_tests.cpp
  src/test/pow_tests.cpp
  src/test/raii_event_tests.cpp
  src/test/rpc_tests.cpp
  src/test/script_standard_tests.cpp
  src/test/script_tests.cpp
  src/test/scriptnum10.h
  src/test/serialize_tests.cpp
  src/test/setup_common.cpp
  src/test/setup_common.h
  src/test/sigopcount_tests.cpp
  src/test/streams_tests.cpp
  src/test/transaction_tests.cpp
  src/test/txvalidation_tests.cpp
  src/test/txvalidationcache_tests.cpp
  src/test/uint256_tests.cpp
  src/test/util.cpp
  src/test/util_tests.cpp
  src/test/validation_block_tests.cpp
  src/wallet/test/init_test_fixture.cpp
  src/wallet/test/init_tests.cpp
  src/wallet/test/psbt_wallet_tests.cpp
  src/wallet/test/wallet_test_fixture.cpp
  src/wallet/test/wallet_tests.cpp
Labels: Bitcoin Backport
