Repository dashpay/dash, pull requests merged in 2021-07, with the labels that each got.

#4222 Backports 0.18 pr3
  src/bloom.cpp
  src/bloom.h
  src/logging.cpp
  src/rpc/misc.cpp
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  test/functional/feature_blocksdir.py
Labels: RPC

#4233 wallet: Avoid generating an actual wallet key for the dummy one in CTransactionBuilder ctor
  src/coinjoin/coinjoin-util.cpp
Labels: backport-candidate-17.0.x

#4237 bugfix: fix signrawtransaction when multiple wallets are loaded
  src/rpc/rawtransaction.cpp
Labels: backport-candidate-17.0.x, bug

#4245 backport: 'trivial' pr9
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
  CONTRIBUTING.md
  Makefile.am
  build-aux/m4/ax_boost_base.m4
  build-aux/m4/ax_boost_chrono.m4
  build-aux/m4/ax_boost_filesystem.m4
  build-aux/m4/ax_boost_system.m4
  build-aux/m4/ax_boost_thread.m4
  build-aux/m4/ax_boost_unit_test_framework.m4
  configure.ac
  contrib/debian/examples/dash.conf
  depends/Makefile
  depends/packages/fontconfig.mk
  depends/packages/libXau.mk
  depends/packages/libxcb.mk
  depends/packages/qrencode.mk
  depends/packages/qt.mk
  depends/packages/xproto.mk
  depends/packages/zeromq.mk
  depends/packages/zlib.mk
  doc/dash-conf.md
  doc/developer-notes.md
  doc/release-notes-16695.md
  share/setup.nsi.in
  src/bech32.cpp
  src/bech32.h
  src/chain.h
  src/coins.h
  src/cuckoocache.h
  src/dash-cli.cpp
  src/obj-test/.gitignore
  src/obj/.gitignore
  src/qt/addresstablemodel.cpp
  src/qt/bantablemodel.cpp
  src/qt/forms/sendcoinsentry.ui
  src/qt/forms/signverifymessagedialog.ui
  src/qt/intro.cpp
  src/qt/paymentserver.cpp
  src/qt/peertablemodel.cpp
  src/qt/recentrequeststablemodel.cpp
  src/qt/sendcoinsdialog.cpp
  src/qt/transactiontablemodel.cpp
  src/rpc/blockchain.cpp
  src/streams.h
  src/test/README.md
  src/test/cuckoocache_tests.cpp
  src/test/dbwrapper_tests.cpp
  src/test/pow_tests.cpp
  src/test/streams_tests.cpp
  src/util/system.cpp
  src/wallet/wallet.cpp
  test/functional/rpc_blockchain.py
  test/functional/test_framework/util.py
  test/lint/lint-includes.sh
Labels: RPC

#4187 merge #12196, #13697: Add scantxoutset RPC method
  src/Makefile.am
  src/Makefile.test.include
  src/rpc/blockchain.cpp
  src/rpc/client.cpp
  src/script/descriptor.cpp
  src/script/descriptor.h
  src/script/sign.cpp
  src/script/sign.h
  src/test/descriptor_tests.cpp
  test/functional/rpc_scantxoutset.py
  test/functional/test_runner.py
Labels: RPC

#4302 actions: Prevent accidental merging to master
  .github/workflows/prevent-master-pr.yml
Labels: backport-candidate-17.0.x
