Repository dashpay/dash, pull requests merged in 2021-04, with the labels that each got.

#4058 llmq: Fix PoSe connection checks
  src/llmq/quorums_dkgsession.cpp
Labels: bug

#4081 backport: Some wallet related PRs
  src/bench/coin_selection.cpp
  src/interfaces/wallet.cpp
  src/interfaces/wallet.h
  src/qt/askpassphrasedialog.cpp
  src/qt/bitcoingui.cpp
  src/qt/bitcoingui.h
  src/qt/dash.cpp
  src/qt/res/css/dark.css
  src/qt/res/css/light.css
  src/qt/rpcconsole.cpp
  src/qt/rpcconsole.h
  src/qt/test/wallettests.cpp
  src/qt/walletframe.cpp
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
  src/rpc/coinjoin.cpp
  src/wallet/db.cpp
  src/wallet/db.h
  src/wallet/init.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/test/coinjoin_tests.cpp
  src/wallet/test/coinselector_tests.cpp
  src/wallet/test/wallet_test_fixture.cpp
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletutil.cpp
  src/wallet/walletutil.h
  test/functional/rpc_fundrawtransaction.py
  test/functional/rpc_fundrawtransaction_hd.py
  test/functional/test_framework/test_node.py
  test/functional/wallet_dump.py
  test/functional/wallet_encryption.py
  test/functional/wallet_keypool.py
  test/functional/wallet_keypool_hd.py
  test/functional/wallet_multiwallet.py
  test/functional/wallet_upgradetohd.py
  test/lint/lint-circular-dependencies.sh
Labels: RPC

#4106 llmq/rpc: Adjust verify islock, don't err when transaction isn't known locally
  src/rpc/rpcquorums.cpp
  test/functional/rpc_verifyislock.py
Labels: RPC, backport-candidate-17.0.x

#4103 Update docker tags
  .github/workflows/release_docker_hub.yml
Labels: backport-candidate-17.0.x

#4110 qt: Initialize mnListCached
  src/qt/clientmodel.cpp
Labels: backport-candidate-17.0.x, bug

#4119 rpc|llmq|test: Implement `verifychainlock`
  src/llmq/quorums_chainlocks.cpp
  src/llmq/quorums_chainlocks.h
  src/rpc/rpcquorums.cpp
  test/functional/rpc_verifychainlock.py
  test/functional/test_runner.py
Labels: RPC, backport-candidate-17.0.x

#4123 rpc: Bail out early when no wallet is available in rpcs that require it, even on `help <cmd>`
  src/rpc/governance.cpp
  src/rpc/masternode.cpp
  src/rpc/rpcevo.cpp
Labels: RPC, backport-candidate-17.0.x
