Repository dashpay/dash, pull requests merged in 2021-03, with the labels that each got.

#4026 bugfix: Add missing return in TrySignInputLocks
  src/llmq/quorums_instantsend.cpp
Labels: bug

#4048 llmq|rpc|test: Fix previous active set checks in RPC commands
  src/llmq/quorums_signing.cpp
  src/llmq/quorums_signing.h
  src/rpc/rpcquorums.cpp
  test/functional/feature_llmq_signing.py
  test/functional/rpc_verifyislock.py
Labels: RPC, bug

#4060 rpc: Adjust some `masternode` rpcs
  src/rpc/masternode.cpp
Labels: RPC

#4070 qt: Delete wallet views when wallets are removed in removeAllWallets
  src/qt/walletframe.cpp
Labels: bug
