Repository dashpay/dash, pull requests merged in 2021-12, with the labels that each got.

#4601 Backport bitcoin#15497 and bitcoin#15744
  src/rpc/blockchain.cpp
  src/rpc/misc.cpp
  src/rpc/util.cpp
  src/rpc/util.h
  src/wallet/rpcdump.cpp
  test/functional/rpc_deriveaddresses.py
  test/functional/rpc_scantxoutset.py
  test/functional/wallet_importmulti.py
Labels: RPC

#4570 merge bitcoin#15928...#16984: backports
  src/Makefile.qt.include
  src/chainparams.cpp
  src/consensus/params.h
  src/init.cpp
  src/qt/bitcoinamountfield.cpp
  src/qt/bitcoingui.cpp
  src/qt/forms/receiverequestdialog.ui
  src/qt/guiconstants.h
  src/qt/guiutil.cpp
  src/qt/guiutil.h
  src/qt/optionsdialog.cpp
  src/qt/qrdialog.cpp
  src/qt/qrimagewidget.cpp
  src/qt/qrimagewidget.h
  src/qt/receiverequestdialog.cpp
  src/qt/receiverequestdialog.h
  src/qt/rpcconsole.cpp
  src/qt/splashscreen.cpp
  src/qt/walletcontroller.cpp
  src/qt/walletview.cpp
  src/test/descriptor_tests.cpp
  src/test/merkle_tests.cpp
  src/util/threadnames.cpp
  src/validation.cpp
  src/wallet/load.h
  src/wallet/wallet.cpp
  test/functional/data/wallets/high_minversion/.walletlock
  test/functional/data/wallets/high_minversion/db.log
  test/functional/data/wallets/high_minversion/wallet.dat
  test/functional/rpc_net.py
  test/functional/test_framework/messages.py
  test/functional/test_framework/util.py
  test/functional/wallet_multiwallet.py
Labels: Bitcoin Backport

#4568 merge bitcoin#15588...#16475: backports
  .gitignore
  src/Makefile.bench.include
  src/bench/checkblock.cpp
  src/bench/data.cpp
  src/bench/data.h
  src/coinjoin/coinjoin.cpp
  src/coinjoin/server.cpp
  src/coinjoin/util.cpp
  src/dummywallet.cpp
  src/init.cpp
  src/interfaces/chain.cpp
  src/interfaces/chain.h
  src/interfaces/node.cpp
  src/interfaces/node.h
  src/interfaces/wallet.cpp
  src/interfaces/wallet.h
  src/net_processing.cpp
  src/node/transaction.cpp
  src/node/transaction.h
  src/qt/sendcoinsdialog.cpp
  src/qt/walletmodel.cpp
  src/qt/walletmodeltransaction.cpp
  src/qt/walletmodeltransaction.h
  src/rpc/blockchain.cpp
  src/rpc/client.cpp
  src/rpc/net.cpp
  src/rpc/rawtransaction.cpp
  src/rpc/util.cpp
  src/rpc/util.h
  src/validation.cpp
  src/validation.h
  src/validationinterface.cpp
  src/validationinterface.h
  src/wallet/db.cpp
  src/wallet/db.h
  src/wallet/fees.cpp
  src/wallet/init.cpp
  src/wallet/load.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  src/wallet/walletdb.h
  test/functional/feature_addressindex.py
  test/functional/feature_cltv.py
  test/functional/feature_dersig.py
  test/functional/feature_fee_estimation.py
  test/functional/feature_nulldummy.py
  test/functional/feature_spentindex.py
  test/functional/feature_txindex.py
  test/functional/mempool_accept.py
  test/functional/mempool_resurrect.py
  test/functional/rpc_getblockstats.py
  test/functional/rpc_rawtransaction.py
  test/functional/test_framework/util.py
  test/functional/test_runner.py
  test/functional/wallet_balance.py
  test/functional/wallet_basic.py
  test/functional/wallet_resendwallettransactions.py
Labels: RPC, Bitcoin Backport

#4607 Backport 17015, 16397, 15459
  doc/release-process.md
  src/qt/test/addressbooktests.cpp
  src/qt/test/apptests.cpp
  src/qt/test/test_main.cpp
  src/qt/test/wallettests.cpp
  src/wallet/rpcwallet.cpp
Labels: Bitcoin Backport

#4606 merge bitcoin#14700...#16854: backports
  configure.ac
  src/Makefile.am
  src/compat/glibc_sanity.cpp
  src/compat/glibc_sanity_fdelt.cpp
  src/core_write.cpp
  src/rpc/client.cpp
  src/rpc/rawtransaction.cpp
  src/validation.cpp
  test/functional/feature_block.py
  test/functional/p2p_invalid_block.py
  test/functional/rpc_psbt.py
  test/functional/test_framework/mininode.py
  test/util/data/txcreateoutpubkey1.json
Labels: RPC, Bitcoin Backport

#4628 Remove KeePass integration
  doc/keepass.md
  src/Makefile.am
  src/dummywallet.cpp
  src/init.cpp
  src/keepass.cpp
  src/keepass.h
  src/logging.cpp
  src/logging.h
  src/util/system.cpp
  src/util/system.h
  src/wallet/init.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/walletinitinterface.h
Labels: RPC

#4604 merge bitcoin#15596...#16542: backports
  src/coinjoin/client.cpp
  src/coinjoin/util.cpp
  src/interfaces/chain.cpp
  src/interfaces/chain.h
  src/interfaces/wallet.cpp
  src/keystore.cpp
  src/net_processing.cpp
  src/net_processing.h
  src/node/transaction.cpp
  src/policy/fees.h
  src/qt/walletmodel.cpp
  src/rpc/blockchain.cpp
  src/rpc/governance.cpp
  src/rpc/misc.cpp
  src/rpc/rpcevo.cpp
  src/script/descriptor.cpp
  src/script/descriptor.h
  src/script/ismine.h
  src/test/descriptor_tests.cpp
  src/util/error.cpp
  src/util/error.h
  src/util/fees.cpp
  src/wallet/db.cpp
  src/wallet/fees.cpp
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/test/coinjoin_tests.cpp
  src/wallet/test/coinselector_tests.cpp
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.h
  test/functional/rpc_deriveaddresses.py
  test/functional/rpc_fundrawtransaction.py
  test/functional/rpc_psbt.py
  test/functional/test_framework/test_framework.py
  test/functional/wallet_balance.py
  test/functional/wallet_import_rescan.py
Labels: RPC, Bitcoin Backport

#4636 backport trivial 2021 12 21
  .gitignore
  autogen.sh
  build-aux/m4/bitcoin_qt.m4
  depends/README.md
  depends/packages/qt.mk
  doc/developer-notes.md
  share/genbuild.sh
  src/bls/bls.h
  src/clientversion.cpp
  src/crypto/sha256_shani.cpp
  src/dash-tx.cpp
  src/init.cpp
  src/interfaces/chain.cpp
  src/interfaces/chain.h
  src/protocol.cpp
  src/protocol.h
  src/rpc/blockchain.cpp
  src/rpc/rawtransaction.cpp
  src/rpc/rawtransaction_util.cpp
  src/test/bloom_tests.cpp
  src/test/coins_tests.cpp
  src/test/cuckoocache_tests.cpp
  src/test/dbwrapper_tests.cpp
  src/test/pmt_tests.cpp
  src/test/setup_common.cpp
  src/test/setup_common.h
  src/test/sighash_tests.cpp
  src/test/streams_tests.cpp
  src/test/util_tests.cpp
  src/validation.cpp
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  test/config.ini.in
  test/functional/interface_bitcoin_cli.py
  test/functional/rpc_net.py
  test/functional/rpc_rawtransaction.py
  test/functional/rpc_scantxoutset.py
  test/functional/test_framework/key.py
  test/functional/test_framework/test_framework.py
  test/functional/tool_wallet.py
  test/functional/wallet_backup.py
  test/functional/wallet_importmulti.py
  test/functional/wallet_listreceivedby.py
  test/functional/wallet_resendwallettransactions.py
Labels: Bitcoin Backport

#4615 Backports 0.19 pr10
  doc/translation_process.md
  src/Makefile.qt.include
  src/Makefile.qt_locale.include
  src/qt/transactiondesc.cpp
  src/rpc/blockchain.cpp
Labels: RPC

#4632 Backports 0.19 pr11
  Makefile.am
  doc/release-notes-14982.md
  src/chain.cpp
  src/chain.h
  src/init.cpp
  src/interfaces/chain.cpp
  src/interfaces/chain.h
  src/rpc/blockchain.cpp
  src/rpc/rawtransaction.cpp
  src/rpc/server.cpp
  src/test/skiplist_tests.cpp
  src/wallet/coincontrol.h
  src/wallet/wallet.cpp
  test/functional/feature_shutdown.py
  test/functional/interface_rpc.py
Labels: RPC
