Repository dashpay/dash, pull requests merged in 2022-04, with the labels that each got.

#4651 Merge #15308 #15754 #15483 #16332
  .travis.yml
  src/interfaces/wallet.cpp
  src/rpc/server.cpp
  src/validationinterface.cpp
  src/wallet/rpcdump.cpp
  src/wallet/wallet.cpp
  test/functional/interface_rpc.py
Labels: RPC

#4751 Show penalty score in masternode rpc
  doc/release-notes-4751.md
  src/rpc/masternode.cpp
Labels: RPC

#4761 Merge #18533: scripted-diff: Replace strCommand with msg_type
  src/coinjoin/client.cpp
  src/coinjoin/client.h
  src/coinjoin/server.cpp
  src/coinjoin/server.h
  src/evo/mnauth.cpp
  src/evo/mnauth.h
  src/governance/governance.cpp
  src/governance/governance.h
  src/llmq/blockprocessor.cpp
  src/llmq/blockprocessor.h
  src/llmq/chainlocks.cpp
  src/llmq/chainlocks.h
  src/llmq/dkgsessionhandler.cpp
  src/llmq/dkgsessionhandler.h
  src/llmq/dkgsessionmgr.cpp
  src/llmq/dkgsessionmgr.h
  src/llmq/instantsend.cpp
  src/llmq/instantsend.h
  src/llmq/quorums.cpp
  src/llmq/quorums.h
  src/llmq/signing.cpp
  src/llmq/signing.h
  src/llmq/signing_shares.cpp
  src/llmq/signing_shares.h
  src/masternode/sync.cpp
  src/masternode/sync.h
  src/net_processing.cpp
  src/spork.cpp
  src/spork.h
Labels: backport-candidate-18.x

#4763 llmq: Clean old DKG contributions up
  src/init.cpp
  src/llmq/dkgsessionmgr.cpp
  src/llmq/dkgsessionmgr.h
Labels: backport-candidate-18.x

#4772 trivial: add some missing dashifications
  contrib/devtools/README.md
  depends/description.md
  doc/benchmarking.md
  doc/bips.md
  doc/build-osx.md
  src/qt/forms/optionsdialog.ui
  src/wallet/bdb.cpp
  test/sanitizer_suppressions/ubsan
Labels: backport-candidate-18.x

#4773 llmq: fix off-by-1 in CollectSigSharesToSendConcentrated
  src/llmq/signing_shares.cpp
Labels: backport-candidate-18.x

#4775 Fix: Use github workspace for building image
  .github/workflows/release_docker_hub.yml
  contrib/containers/deploy/Dockerfile.GitHubActions.Release
Labels: backport-candidate-18.x

#4778 fix(rpc): display proper governance fee in `getgovernanceinfo`
  src/rpc/governance.cpp
Labels: bug, RPC, backport-candidate-18.x

#4779 refactor: only do LogPrintfFinalCommitment if LogAccept LLMQ
  src/llmq/commitment.cpp
Labels: backport-candidate-18.x

#4781 fix: include optional
  src/llmq/blockprocessor.h
  src/llmq/utils.h
Labels: backport-candidate-18.x

#4780 docs: update bips.md
  doc/bips.md
Labels: backport-candidate-18.x

#4786 fix: adjust nWindowSize and nThresholdStart and nThresholdMin for CTestNetParams
  src/chainparams.cpp
Labels: backport-candidate-18.x

#4787 fix(instantsend): avoid an iterator invalidation in pendingInstantSendLocks handling
  src/llmq/instantsend.cpp
Labels: backport-candidate-18.x

#4790 instantsend: create islock/isdlock based on the quorum rotation activation status
  src/llmq/instantsend.cpp
Labels: backport-candidate-18.x

#4795 fix(qt): fix crash when first enabling governance tab due to null-ptr deref
  src/qt/walletview.cpp
Labels: backport-candidate-18.x

#4803 Edge case fix for Rotation
  src/llmq/utils.cpp
Labels: backport-candidate-18.x

#4797 tests: various fixes/cleanups
  test/functional/feature_llmq_is_cl_conflicts.py
  test/functional/feature_llmq_is_migration.py
  test/functional/feature_llmq_rotation.py
  test/functional/interface_zmq_dash.py
  test/functional/rpc_verifyislock.py
  test/functional/test_framework/test_framework.py
Labels: backport-candidate-18.x

#4802 trivial/lint: tweak `lint-spelling.sh` and fix typos
  src/evo/deterministicmns.h
  src/llmq/utils.cpp
  src/qt/forms/governancelist.ui
  src/rpc/mining.cpp
  src/test/descriptor_tests.cpp
  test/functional/wallet_importmulti.py
  test/lint/lint-spelling.sh
Labels: backport-candidate-18.x

#4806 fix: bump dkgBadVotesThreshold to 80%
  src/llmq/params.h
Labels: backport-candidate-18.x

#4691 Translations 202202
  src/qt/dashstrings.cpp
  src/qt/locale/dash_en.ts
  src/qt/locale/dash_es.ts
  src/qt/locale/dash_fi.ts
  src/qt/locale/dash_fr.ts
  src/qt/locale/dash_it.ts
  src/qt/locale/dash_ja.ts
  src/qt/locale/dash_ko.ts
  src/qt/locale/dash_nl.ts
  src/qt/locale/dash_pl.ts
  src/qt/locale/dash_pt.ts
  src/qt/locale/dash_ru.ts
  src/qt/locale/dash_sk.ts
  src/qt/locale/dash_th.ts
  src/qt/locale/dash_tr.ts
  src/qt/locale/dash_zh_TW.ts
Labels: backport-candidate-18.x

#4796 llmq: Avoid endless loop in GetQuorumRelayMembers
  src/llmq/utils.cpp
Labels: backport-candidate-18.x

#4809 Correct returned variable
  src/llmq/utils.cpp
Labels: backport-candidate-18.x

#4808 rpc: fix and simplify `quorum rotationinfo`
  src/rpc/rpcquorums.cpp
  test/functional/test_framework/test_framework.py
Labels: RPC, backport-candidate-18.x

#4816 ci: fix docker context
  .github/workflows/release_docker_hub.yml
  contrib/containers/deploy/Dockerfile.GitHubActions.Release
Labels: backport-candidate-18.x

#4819 wallet: fix metadata updates on HD derivation
  src/hdchain.cpp
  src/wallet/wallet.cpp
Labels: backport-candidate-18.x
