Repository dashpay/dash, pull requests merged in 2022-06, with the labels that each got.

#4859 fix(llmq): Actually remove old masternode quorum connections
  src/llmq/quorums.cpp
Labels: backport-candidate-18.x

#4865 refactor: add superblock trigger maturity window to DashCore
  src/chainparams.cpp
  src/consensus/params.h
  src/rpc/governance.cpp
Labels: RPC

#4868 fix!: Rotation fixes and adjustments
  src/llmq/dkgsession.cpp
  src/llmq/params.h
  src/llmq/utils.cpp
  src/llmq/utils.h
Labels: backport-candidate-18.x

#4874 backport: bitcoin 20564, 20661 (addrv2 follow-ups)
  src/net.h
  src/net_processing.cpp
  src/version.h
  test/functional/test_framework/messages.py
  test/functional/test_framework/mininode.py
Labels: P2P, backport-candidate-18.x

#4876 docs(llmq): Improved documentation for keepOldConnections
  src/llmq/params.h
Labels: backport-candidate-18.x

#4883 fix(gov): do not allow empty proposal names
  src/governance/validators.cpp
  src/test/data/proposals_invalid.json
Labels: backport-candidate-18.x

#4885 rpc: split spork manipulation logic to distinct "sporkupdate" call
  doc/release-notes-4885.md
  src/rpc/client.cpp
  src/rpc/misc.cpp
  test/functional/feature_dip4_coinbasemerkleroots.py
  test/functional/feature_llmq_chainlocks.py
  test/functional/feature_llmq_connections.py
  test/functional/feature_llmq_data_recovery.py
  test/functional/feature_llmq_dkgerrors.py
  test/functional/feature_llmq_is_cl_conflicts.py
  test/functional/feature_llmq_is_migration.py
  test/functional/feature_llmq_is_retroactive.py
  test/functional/feature_llmq_rotation.py
  test/functional/feature_llmq_signing.py
  test/functional/feature_llmq_simplepose.py
  test/functional/feature_multikeysporks.py
  test/functional/feature_sporks.py
  test/functional/interface_zmq_dash.py
  test/functional/p2p_instantsend.py
  test/functional/p2p_quorum_data.py
  test/functional/rpc_verifychainlock.py
  test/functional/rpc_verifyislock.py
  test/functional/test_framework/test_framework.py
Labels: RPC

#4656 Merge #15427
  src/psbt.cpp
  src/psbt.h
  src/rpc/blockchain.cpp
  src/rpc/rawtransaction.cpp
  src/rpc/util.cpp
  src/rpc/util.h
  src/wallet/psbtwallet.cpp
  test/functional/rpc_psbt.py
Labels: RPC

#4740 feat: add scriptPayout and scriptOperatorPayout to `protx diff` / CSimplifiedMNListEntry
  src/evo/deterministicmns.cpp
  src/evo/deterministicmns.h
  src/evo/simplifiedmns.cpp
  src/evo/simplifiedmns.h
  src/net_processing.cpp
  src/rpc/rpcevo.cpp
Labels: RPC

#4878 fix: Faster feature_llmq_rotation.py + introduction of llmq_devnet_dip0024
  src/chainparams.cpp
  src/llmq/params.h
  src/llmq/utils.cpp
  test/functional/feature_llmq_rotation.py
Labels: backport-candidate-18.x
