Repository dashpay/dash, pull requests merged in 2022-11, with the labels that each got.

#5066 fix: do not crash when running with `statsenabled=1`
  src/init.cpp
Labels: backport-candidate-18.1.x

#5076 feat(rpc): Added quorum listextended RPC
  doc/release-notes-5076.md
  src/rpc/quorums.cpp
  test/functional/feature_llmq_rotation.py
Labels: RPC

#5084 fix: read item out of array `blockinfo` in miner tests
  src/test/miner_tests.cpp
Labels: backport-candidate-18.2.x
