Repository dashpay/dash, pull requests merged in 2023-11, with the labels that each got.

#5658 refactor: make MNActivationHeight in Params() indeed constant
  src/chainparams.cpp
  src/chainparams.h
  src/consensus/params.h
  src/evo/mnhftx.cpp
  src/evo/mnhftx.h
  src/init.cpp
  src/rpc/blockchain.cpp
  src/test/block_reward_reallocation_tests.cpp
  src/test/dynamic_activation_thresholds_tests.cpp
  src/test/fuzz/versionbits.cpp
  src/test/versionbits_tests.cpp
  src/validation.cpp
  src/versionbits.cpp
  src/versionbits.h
  test/functional/feature_asset_locks.py
  test/functional/feature_cltv.py
  test/functional/feature_dersig.py
  test/functional/feature_governance.py
  test/functional/feature_mnehf.py
  test/functional/feature_new_quorum_type_activation.py
  test/functional/rpc_blockchain.py
  test/functional/test_framework/test_framework.py
Labels: RPC

#5707 fix: add missing log categories
  src/logging.cpp
Labels: backport-candidate-20.x

#5705 build: let additional configure params to be passed into guix
  contrib/guix/guix-build
  contrib/guix/libexec/build.sh
Labels: backport-candidate-20.x

#5709 chore: inacuracies in release notes for v20 and v19
  doc/release-notes.md
  doc/release-notes/dash/release-notes-19.2.0.md
Labels: backport-candidate-20.x

#5711 fix: should not notify about mnlist changes while ConnectBlock isn't done yet
  src/dsnotificationinterface.cpp
  src/dsnotificationinterface.h
  src/evo/deterministicmns.cpp
  src/evo/deterministicmns.h
  src/evo/specialtxman.cpp
  src/evo/specialtxman.h
  src/validation.cpp
  src/validationinterface.cpp
  src/validationinterface.h
  test/lint/lint-circular-dependencies.sh
Labels: backport-candidate-20.x

#5708 build(guix): add debug symbols for osx
  contrib/guix/libexec/build.sh
Labels: backport-candidate-20.x

#5713 fix: make `CONFIGFLAGS` optional
  contrib/guix/libexec/build.sh
Labels: guix-build, backport-candidate-20.x

#5717 fix: avoid crashes on "corrupted db" reindex attempts
  src/init.cpp
Labels: backport-candidate-20.x

#5553 refactor: deprecate non-deterministic IS support
  src/Makefile.test.include
  src/chainparams.cpp
  src/chainparamsbase.cpp
  src/consensus/params.h
  src/llmq/instantsend.cpp
  src/llmq/instantsend.h
  src/llmq/quorums.cpp
  src/llmq/snapshot.cpp
  src/llmq/utils.cpp
  src/llmq/utils.h
  src/net_processing.cpp
  src/protocol.cpp
  src/protocol.h
  src/rpc/quorums.cpp
  src/test/evo_instantsend_tests.cpp
  src/test/evo_utils_tests.cpp
  test/functional/feature_llmq_chainlocks.py
  test/functional/feature_llmq_connections.py
  test/functional/feature_llmq_evo.py
  test/functional/feature_llmq_is_cl_conflicts.py
  test/functional/feature_llmq_is_migration.py
  test/functional/feature_llmq_is_retroactive.py
  test/functional/feature_notifications.py
  test/functional/interface_zmq_dash.py
  test/functional/p2p_instantsend.py
  test/functional/rpc_verifyislock.py
  test/functional/test_framework/messages.py
  test/functional/test_framework/mininode.py
  test/functional/test_framework/test_framework.py
  test/functional/test_runner.py
Labels: P2P

#5719 fix: should avoid implicit conversions in `pushKV` params
  src/masternode/meta.cpp
Labels: backport-candidate-20.x

#5718 backport: bitcoin#24603, #26694, #24669, #22546, #22199, #25817 (mac build)
  Makefile.am
  ci/test/00_setup_env_native_qt5.sh
  contrib/guix/libexec/build.sh
  contrib/macdeploy/detached-sig-apply.sh
  contrib/macdeploy/macdeployqtplus
  depends/packages/qt.mk
  test/functional/feature_backwards_compatibility.py
  test/get_previous_releases.py
Labels: guix-build, backport-candidate-20.x

#5732 fix: use correct interruption condition in `StartCachePopulatorThread`
  src/llmq/quorums.cpp
Labels: backport-candidate-20.x

#5731 fix: Improve quorum data caching and cleanup
  src/llmq/params.h
  src/llmq/quorums.cpp
  src/llmq/quorums.h
  src/llmq/utils.cpp
  src/llmq/utils.h
Labels: backport-candidate-20.x

#5746 fix: avoid a crash on -reindex-chainstate
  src/init.cpp
Labels: backport-candidate-20.x
