Repository dashpay/dash, pull requests merged in 2023-06, with the labels that each got.

#5373 backport: bitcoin#17585, #17804, #17819, #18122, #18192, #18208, #18234, #18292, #18305, #18314, partial #18224
  doc/developer-notes.md
  doc/release-notes-17578.md
  src/psbt.cpp
  src/qt/addresstablemodel.cpp
  src/qt/test/addressbooktests.cpp
  src/rpc/evo.cpp
  src/rpc/misc.cpp
  src/rpc/util.cpp
  src/rpc/util.h
  src/test/fuzz/deserialize.cpp
  src/test/fuzz/psbt.cpp
  src/test/fuzz/script.cpp
  src/wallet/interfaces.cpp
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  src/wallet/wallettool.cpp
  test/README.md
  test/functional/README.md
  test/functional/rpc_getaddressinfo_label_deprecation.py
  test/functional/rpc_getaddressinfo_labels_purpose_deprecation.py
  test/functional/rpc_psbt.py
  test/functional/test_runner.py
  test/functional/wallet_basic.py
  test/functional/wallet_import_with_label.py
  test/functional/wallet_importmulti.py
  test/functional/wallet_labels.py
  test/functional/wallet_listreceivedby.py
  test/lint/extended-lint-cppcheck.sh
  test/lint/lint-cppcheck-dash.sh
Labels: RPC

#5403 fix: Resolve mainnet v19 fork issues
  src/bls/bls.h
  src/evo/deterministicmns.cpp
  src/evo/deterministicmns.h
  src/evo/dmnstate.cpp
  src/evo/dmnstate.h
  src/evo/evodb.h
  src/evo/providertx.cpp
  src/evo/providertx.h
  src/evo/specialtxman.cpp
  src/governance/object.cpp
  src/init.cpp
  src/llmq/blockprocessor.cpp
  src/llmq/signing.h
  src/llmq/signing_shares.cpp
  src/masternode/node.cpp
  src/masternode/node.h
  src/rpc/evo.cpp
  src/rpc/governance.cpp
  src/rpc/masternode.cpp
  src/rpc/quorums.cpp
  src/test/block_reward_reallocation_tests.cpp
  src/test/evo_deterministicmns_tests.cpp
  src/test/evo_simplifiedmns_tests.cpp
  src/test/util/setup_common.cpp
  src/test/util/setup_common.h
  src/txmempool.cpp
  src/txmempool.h
  src/validation.cpp
  test/functional/feature_dip3_v19.py
Labels: backport-candidate-19.x

#5413 fix: follow-up #5403: remove double serialization in CDeterministicMNState
  src/evo/dmnstate.h
Labels: backport-candidate-19.x

#5415 backport: bitcoin#26633 (update qt 5.12 url to archive location)
  depends/packages/qt.mk
Labels: backport-candidate-19.x

#5416 ci: use PR's HEAD in guix workflow
  .github/workflows/guix-build.yml
Labels: guix-build

#5355 backport: merge bitcoin#18434, #21664, #20608, #21871, #21255, #21428, #21889, #22070, #22392, #23535, #23811, #23838, #23839, #23148, #20422, #24561, #26075, #25458, partial #22381 (guix backports: part 1)
  Makefile.am
  ci/dash/build_src.sh
  ci/test/00_setup_env.sh
  ci/test/00_setup_env_mac_host.sh
  ci/test/00_setup_env_win64.sh
  ci/test/04_install.sh
  configure.ac
  contrib/containers/ci/Dockerfile
  contrib/devtools/pixie.py
  contrib/devtools/security-check.py
  contrib/devtools/symbol-check.py
  contrib/devtools/test-security-check.py
  contrib/devtools/test-symbol-check.py
  contrib/devtools/utils.py
  contrib/gitian-descriptors/gitian-linux.yml
  contrib/gitian-descriptors/gitian-osx.yml
  contrib/gitian-descriptors/gitian-win.yml
  contrib/guix/libexec/build.sh
  contrib/guix/manifest.scm
  contrib/guix/patches/binutils-mingw-w64-disable-flags.patch
  contrib/macdeploy/README.md
  contrib/macdeploy/custom_dsstore.py
  contrib/macdeploy/fancy.plist
  contrib/macdeploy/macdeployqtplus
  depends/packages/boost.mk
  depends/packages/native_mac_alias.mk
  depends/packages/qt.mk
  src/Makefile.am
Labels: guix-build

#5417 ci: more checksums in guix workflow
  .github/workflows/guix-build.yml
Labels: guix-build

#5421 backport: trivial backports June 8th
  contrib/guix/manifest.scm
  contrib/install_db4.sh
  doc/build-unix.md
  doc/tor.md
  src/addrman.h
  src/net.cpp
  src/validation.cpp
  test/functional/test_runner.py
Labels: guix-build

#5404 feat: use m_protxHash instead of masternodeOutpoint for hashing dsq and dstx after v19 activation
  src/coinjoin/coinjoin.cpp
  src/coinjoin/coinjoin.h
Labels: backport-candidate-19.x

#5410 fix: resolve two DMNL cache issues
  src/evo/deterministicmns.cpp
  src/evo/deterministicmns.h
Labels: backport-candidate-19.x

#5424 fix: multiple 5403 followups
  src/bls/bls.h
  src/evo/deterministicmns.cpp
  src/evo/dmnstate.cpp
  src/evo/dmnstate.h
  src/evo/providertx.cpp
  src/evo/simplifiedmns.cpp
  src/rpc/evo.cpp
Labels: backport-candidate-19.x

#5397 feat: store protx version in CSimplifiedMNListEntry and use it to ser/deser pubKeyOperator
  src/evo/cbtx.cpp
  src/evo/simplifiedmns.cpp
  src/evo/simplifiedmns.h
  src/version.h
  test/functional/feature_dip3_v19.py
  test/functional/feature_dip4_coinbasemerkleroots.py
  test/functional/feature_llmq_hpmn.py
  test/functional/test_framework/messages.py
Labels: backport-candidate-19.x

#5428 chore: update defaultAssumeValid, nMinimumChainWork, checkpointData and chainTxData for testnet
  src/chainparams.cpp
Labels: backport-candidate-19.x

#5438 chore(rpc): remove collateral amount from help
  src/rpc/evo.cpp
Labels: backport-candidate-19.x

#5439 chore(rpc): few cleanups in evo rpc help texts
  src/rpc/evo.cpp
Labels: RPC, backport-candidate-19.x

#5434 chore: prettify json representations of CSimplifiedMNListEntry and CSimplifiedMNListDiff
  src/evo/simplifiedmns.cpp
Labels: backport-candidate-19.x

#5441 chore: update chainparams for v19.2 release
  src/chainparams.cpp
Labels: backport-candidate-19.x

#5442 chore: run `gen-manpages.sh` for v19.2
  doc/man/dash-cli.1
  doc/man/dash-qt.1
  doc/man/dash-tx.1
  doc/man/dash-wallet.1
  doc/man/dashd.1
Labels: backport-candidate-19.x

#5408 backport: merge bitcoin#23909, #23778, #24495,#25313, #24042, #24057, #24348, #24484, #24489, #24599, #24503, #24506, #24573, #25779, #24736, #24842, #25006, #25076, #25490, #25558 (guix backports: part 2)
  .gitignore
  Makefile.am
  ci/test/00_setup_env_mac.sh
  configure.ac
  contrib/containers/ci/Dockerfile
  contrib/devtools/test-security-check.py
  contrib/gitian-descriptors/gitian-osx.yml
  contrib/guix/guix-build
  contrib/guix/guix-codesign
  contrib/guix/libexec/build.sh
  contrib/guix/libexec/prelude.bash
  contrib/guix/manifest.scm
  contrib/guix/patches/binutils-mingw-w64-disable-flags.patch
  contrib/guix/patches/elfsteem-value-error-python-39.patch
  contrib/guix/patches/gcc-10-remap-guix-store.patch
  contrib/guix/patches/gcc-8-sort-libtool-find-output.patch
  contrib/guix/patches/gcc-broken-longjmp.patch
  contrib/guix/patches/glibc-2.24-fcommon.patch
  contrib/guix/patches/glibc-2.24-guix-prefix.patch
  contrib/guix/patches/glibc-2.27-dont-redefine-nss-database.patch
  contrib/guix/patches/glibc-2.27-guix-prefix.patch
  contrib/guix/patches/glibc-2.27-riscv64-Use-__has_include-to-include-asm-syscalls.h.patch
  contrib/guix/patches/nsis-SConstruct-sde-support.patch
  contrib/guix/patches/nsis-gcc-10-memmove.patch
  contrib/guix/patches/vmov-alignment.patch
  contrib/macdeploy/background.svg
  contrib/macdeploy/background.tiff
  contrib/macdeploy/detached-sig-create.sh
  contrib/macdeploy/macdeployqtplus
  depends/README.md
  doc/build-osx.md
  doc/dependencies.md
Labels: guix-build

#5433 feat: Allow mining blocks of a specific version on non-mainnet networks
  src/miner.cpp
Labels: backport-candidate-19.x

#5446 docs: add 2 more contributors to 19.2.0 release notes
  doc/release-notes.md
Labels: backport-candidate-19.x

#5447 feat(rpc): Ability to filter HPMNs in masternodelist and protx list rpcs
  doc/release-notes-5447.md
  src/rpc/evo.cpp
  src/rpc/masternode.cpp
Labels: RPC, backport-candidate-19.x

#5450 feat: mnlistdiff move nversion to first position
  src/evo/simplifiedmns.h
  src/version.h
  test/functional/test_framework/messages.py
Labels: P2P

#5449 build: add ability to interactively run guix builds, use container that has unprivileged user
  .github/workflows/guix-build.yml
  contrib/containers/guix/Dockerfile
  contrib/containers/guix/docker-compose.yml
  contrib/containers/guix/motd.txt
  contrib/containers/guix/scripts/entrypoint
  contrib/containers/guix/scripts/guix-check
  contrib/containers/guix/scripts/guix-start
Labels: guix-build

#5454 fix: Allow tx index to catch up with the block index in TestChainSetup dtor
  src/test/util/setup_common.cpp
Labels: backport-candidate-19.x

#5456 feat(wallet): TopUpKeyPool improvements
  src/wallet/scriptpubkeyman.cpp
Labels: backport-candidate-19.x

#5464 build: follow up to #5449. implementing suggestions and deduplication
  .github/workflows/guix-build.yml
  contrib/containers/guix/scripts/guix-check
  contrib/containers/guix/scripts/guix-start
Labels: guix-build

#5426 backport: merge bitcoin#25643, #23583, #23618, #23603, #23817, #24520, #24508, #25639, #26018, #25437, #25484, #23585, #24549, #24733, #21991, #22526, #25633, #24597, #24955, #25099, #24552, #21851, #25389, #25357, partial #22318 (guix backports: part 3)
  .gitlab-ci.yml
  ci/test/00_setup_env_mac.sh
  ci/test/00_setup_env_mac_host.sh
  configure.ac
  contrib/containers/ci/Dockerfile
  contrib/containers/guix/scripts/guix-start
  contrib/devtools/security-check.py
  contrib/devtools/symbol-check.py
  contrib/devtools/test-security-check.py
  contrib/gitian-build.py
  contrib/gitian-descriptors/gitian-linux.yml
  contrib/gitian-descriptors/gitian-osx.yml
  contrib/gitian-descriptors/gitian-win.yml
  contrib/guix/Dockerfile
  contrib/guix/README.md
  contrib/guix/guix-attest
  contrib/guix/guix-build
  contrib/guix/guix-codesign
  contrib/guix/libexec/build.sh
  contrib/guix/libexec/codesign.sh
  contrib/guix/libexec/prelude.bash
  contrib/guix/manifest.scm
  contrib/guix/patches/glibc-2.24-guix-prefix.patch
  contrib/guix/patches/glibc-2.27-guix-prefix.patch
  contrib/guix/patches/lief-fix-ppc64-nx-default.patch
  contrib/install_db4.sh
  contrib/macdeploy/README.md
  depends/README.md
  depends/builders/darwin.mk
  depends/hosts/darwin.mk
  depends/packages/libevent.mk
  depends/packages/native_cctools.mk
  depends/packages/native_clang.mk
  depends/packages/native_libtapi.mk
  depends/packages/qt.mk
  depends/packages/sqlite.mk
  depends/patches/libevent/0001-fix-windows-getaddrinfo.patch
  depends/patches/libevent/glibc_compatibility.patch
  depends/patches/qt/dont_hardcode_x86_64.patch
  depends/patches/qt/fast_fixed_dtoa_no_optimize.patch
  depends/patches/qt/mac-qmake.conf
  depends/patches/qt/no_sdk_version_check.patch
  doc/dependencies.md
Labels: guix-build
