Repository dashpay/dash, pull requests merged in 2023-12, with the labels that each got.

#5740 backport: bitcoin#19438 Introduce deploymentstatus (versionbits improvements)
  src/Makefile.am
  src/chainparams.cpp
  src/consensus/params.h
  src/deploymentinfo.cpp
  src/deploymentinfo.h
  src/deploymentstatus.cpp
  src/deploymentstatus.h
  src/evo/mnhftx.cpp
  src/evo/mnhftx.h
  src/governance/classes.cpp
  src/llmq/utils.cpp
  src/miner.cpp
  src/node/interfaces.cpp
  src/rpc/blockchain.cpp
  src/rpc/mining.cpp
  src/test/dynamic_activation_thresholds_tests.cpp
  src/test/versionbits_tests.cpp
  src/validation.cpp
  src/validation.h
  src/versionbits.cpp
  src/versionbits.h
  src/versionbitsinfo.cpp
  src/versionbitsinfo.h
Labels: backport-candidate-20.x

#5727 ci: Bump Guix build timeout and implement cacheing
  .github/workflows/guix-build.yml
  contrib/containers/guix/Dockerfile
Labels: guix-build, backport-candidate-20.x

#5749 fix: drop useless mutex cs_llmq_vbc to avoid deadlock
  src/llmq/context.cpp
  src/llmq/utils.cpp
  src/llmq/utils.h
Labels: backport-candidate-20.x

#5758 backport: bitcoin#24276, #24383, #28561, #24461
  depends/packages/boost.mk
  depends/packages/expat.mk
  depends/packages/qt.mk
  depends/patches/qt/dont_hardcode_x86_64.patch
  depends/patches/qt/fix-macos-linker.patch
  depends/patches/qt/fix_android_jni_static.patch
  depends/patches/qt/fix_montery_include.patch
  depends/patches/qt/memory_resource.patch
  depends/patches/qt/no-xlib.patch
  doc/dependencies.md
  src/leveldb/util/env_windows.cc
Labels: guix-build

#5759 backport: partial merge bitcoin#26532: wallet: bugfix, invalid crypted key "checksum_valid" set
  src/wallet/walletdb.cpp
Labels: backport-candidate-20.x

#5765 feat(rpc): submit chainlock signature if needed RPC
  doc/release-notes-5765.md
  src/rpc/quorums.cpp
  src/rpc/server.cpp
  test/functional/feature_llmq_chainlocks.py
  test/functional/rpc_platform_filter.py
Labels: RPC

#5774 fix(rpc): pass blockhash into `TxToJSON` so that `getspecialtxes` could show correct `instantlock`/`chainlock` values
  doc/release-notes-5774.md
  src/rpc/blockchain.cpp
  test/functional/feature_llmq_chainlocks.py
Labels: RPC, backport-candidate-20.x

#5761 fix: Improve quorum caching (again)
  src/llmq/dkgsessionmgr.cpp
  src/llmq/quorums.cpp
  src/llmq/quorums.h
  src/llmq/utils.cpp
  src/llmq/utils.h
  src/rpc/quorums.cpp
Labels: backport-candidate-20.x

#5780 refactor: pass large structure by const reference on every RPC call
  src/rpc/server.cpp
Labels: backport-candidate-20.x

#5775 chore: do not include dash-qt in the docker images
  contrib/containers/deploy/Dockerfile.GitHubActions.Release
  doc/release-notes-5775.md
Labels: guix-build

#5784 fix: ScanQuorums should not start cache population for outdated quorums
  src/llmq/quorums.cpp
  src/llmq/quorums.h
Labels: backport-candidate-20.x

#5776 feat(rpc): Asset Unlock status by index
  doc/release-notes-5776.md
  src/init.cpp
  src/node/context.h
  src/rpc/rawtransaction.cpp
  src/rpc/server.cpp
  src/test/util/setup_common.cpp
  test/functional/feature_asset_locks.py
  test/functional/rpc_platform_filter.py
Labels: RPC

#5742 feat(rpc): `gettxchainlocks` should return `mempool=false` when tx not in mempool
  doc/release-notes-5742.md
  src/rpc/rawtransaction.cpp
  test/functional/rpc_verifychainlock.py
Labels: RPC
