Repository dashpay/dash, pull requests merged in 2023-04, with the labels that each got.

#5286 refactor/fix: replace expired requests with a new one in RequestQuorumData
  src/llmq/quorums.cpp
  src/llmq/quorums.h
Labels: backport-candidate-19.x

#5290 trivial(doc): fix typos in getrawtransaction and decoderawtransaction help texts
  src/rpc/rawtransaction.cpp
Labels: backport-candidate-19.x

#5287 fix(qt): should use weighted mn count when calculating payments in Masternodes tab
  src/evo/deterministicmns.h
  src/qt/masternodelist.cpp
Labels: backport-candidate-19.x

#5295 fix: Fix missing includes
  src/support/lockedpool.cpp
  src/util/bip32.h
Labels: backport-candidate-19.x

#5299 fix(governance): use weighted mn count
  src/governance/object.cpp
  src/qt/governancelist.cpp
Labels: backport-candidate-19.x

#5298 fix: add passed HPMN payments to the list in GetProjectedMNPayees
  src/evo/deterministicmns.cpp
Labels: backport-candidate-19.x

#5226 backport: bitcoin#13424, #14092, #14380, #14879, #15693, #16185, #16489, #16556, #16806, #16866, #16873, partial #16197, fixes for #10637
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .travis.yml
  ci/lint/06_script.sh
  ci/test/00_setup_env_native_tsan.sh
  contrib/init/dashd.service
  doc/README.md
  doc/init.md
  doc/release-notes-16185.md
  doc/travis-ci.md
  src/bitcoind.cpp
  src/qt/forms/debugwindow.ui
  src/qt/overviewpage.cpp
  src/qt/res/css/general.css
  src/qt/res/css/traditional.css
  src/qt/rpcconsole.cpp
  src/qt/rpcconsole.h
  src/rpc/blockchain.cpp
  src/rpc/client.cpp
  src/rpc/evo.cpp
  src/rpc/governance.cpp
  src/rpc/masternode.cpp
  src/rpc/mining.cpp
  src/rpc/quorums.cpp
  src/rpc/rawtransaction.cpp
  src/rpc/server.cpp
  src/rpc/util.cpp
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  test/functional/mining_prioritisetransaction.py
  test/functional/p2p_compactblocks.py
  test/functional/p2p_sendheaders.py
  test/functional/p2p_tx_download.py
  test/functional/rpc_blockchain.py
  test/functional/rpc_psbt.py
  test/functional/rpc_rawtransaction.py
  test/functional/rpc_txoutproof.py
  test/functional/test_runner.py
  test/functional/wallet_basic.py
  test/functional/wallet_listsinceblock.py
Labels: RPC

#5278 backport: bitcoin#13072, #14096, #14161, #15831, #16250, #16251, #17049, #17056, #17138, #18032 (rpc_createmultisig.py and some extra)
  contrib/gitian-descriptors/gitian-linux.yml
  contrib/gitian-descriptors/gitian-osx.yml
  contrib/gitian-descriptors/gitian-win.yml
  doc/descriptors.md
  doc/release-notes-17056.md
  src/rpc/misc.cpp
  src/script/descriptor.cpp
  src/test/descriptor_tests.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  test/functional/data/rpc_bip67.json
  test/functional/rpc_createmultisig.py
  test/functional/test_framework/descriptors.py
  test/functional/test_runner.py
Labels: RPC

#5301 fix(tests): Bumps in wait_for_tx/instantlock
  test/functional/test_framework/test_framework.py
Labels: backport-candidate-19.x

#5305 chore: run `gen-manpages.sh` for 19.0.0
  doc/man/dash-cli.1
  doc/man/dash-qt.1
  doc/man/dash-tx.1
  doc/man/dash-wallet.1
  doc/man/dashd.1
Labels: backport-candidate-19.x

#5288 fix(tests): a couple of fixes for dynamically_add/update functions
  test/functional/feature_dip3_v19.py
  test/functional/feature_llmq_hpmn.py
  test/functional/test_framework/test_framework.py
Labels: backport-candidate-19.x

#5304 chore: update chainparams for v19.0.0
  src/chainparams.cpp
Labels: backport-candidate-19.x

#5303 fix: reviewing TODOes at v19
  .travis.yml
  ci/dash/test_unittests.sh
  src/rpc/masternode.cpp
  src/rpc/misc.cpp
  test/functional/feature_dbcrash.py
  test/functional/wallet_createwallet.py
Labels: backport-candidate-19.x

#5302 feat: min protocol version check for SML serialisation
  src/evo/simplifiedmns.h
  test/functional/test_framework/messages.py
Labels: backport-candidate-19.x

#5208 chore: Translations 2023-02
  src/qt/dashstrings.cpp
  src/qt/locale/dash_en.ts
  src/qt/locale/dash_en.xlf
  src/qt/locale/dash_it.ts
  src/qt/locale/dash_pl.ts
  src/qt/locale/dash_ru.ts
Labels: backport-candidate-19.x

#5316 ci: add ci for merging into master
  .github/workflows/merge-check.yml
Labels: backport-candidate-19.x

#5285 feat: guix to replace gitian and its dashification
  contrib/README.md
  contrib/builder-keys/README.md
  contrib/builder-keys/codablock.pgp
  contrib/builder-keys/dustinface.pgp
  contrib/builder-keys/gladcow.pgp
  contrib/builder-keys/nmarley.pgp
  contrib/builder-keys/pasta.pgp
  contrib/builder-keys/schinzelh.pgp
  contrib/builder-keys/thephez.pgp
  contrib/builder-keys/udjinm6.pgp
  contrib/guix/Dockerfile
  contrib/guix/INSTALL.md
  contrib/guix/README.md
  contrib/guix/guix-attest
  contrib/guix/guix-build
  contrib/guix/guix-clean
  contrib/guix/guix-codesign
  contrib/guix/guix-verify
  contrib/guix/libexec/build.sh
  contrib/guix/libexec/codesign.sh
  contrib/guix/libexec/prelude.bash
  contrib/guix/manifest.scm
  contrib/guix/patches/gcc-8-sort-libtool-find-output.patch
  doc/release-process.md
Labels: Needs Release Notes

#5332 build: add `--hardened-runtime` for macos detached signature creation to enable notarization
  contrib/macdeploy/detached-sig-create.sh
Labels: backport-candidate-19.x

#5314 backport: bitcoin#16766, #17164, #17283, #17290, #17388, #17437, #17439, #17470, #17568, #17587, #17599
  .travis.yml
  ci/dash/matrix.sh
  ci/test/00_setup_env_s390x.sh
  ci/test/04_install.sh
  doc/release-notes-17437.md
  src/bloom.h
  src/net.cpp
  src/net.h
  src/net_processing.cpp
  src/qt/forms/sendcoinsdialog.ui
  src/qt/res/css/general.css
  src/qt/sendcoinsdialog.cpp
  src/qt/test/wallettests.cpp
  src/script/descriptor.cpp
  src/test/fuzz/net.cpp
  src/test/util_tests.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/test/coinselector_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  test/functional/interface_rest.py
  test/functional/rpc_fundrawtransaction.py
  test/functional/test_framework/wallet_util.py
  test/functional/wallet_balance.py
  test/functional/wallet_basic.py
  test/functional/wallet_import_with_label.py
  test/functional/wallet_importmulti.py
  test/functional/wallet_labels.py
  test/functional/wallet_listreceivedby.py
  test/functional/wallet_listsinceblock.py
  test/functional/wallet_listtransactions.py
Labels: RPC

#5338 feat(rpc): protx listdiff rpc
  doc/release-notes-5338.md
  src/evo/dmnstate.cpp
  src/evo/dmnstate.h
  src/rpc/evo.cpp
Labels: RPC

#5340 backport: bitcoin#16658, #17473, #17549, #17578, #17593, #17661, #17674, #17678, #17725, #17762, #1780
  .travis.yml
  ci/dash/build-docker.sh
  ci/dash/build_depends.sh
  ci/dash/build_src.sh
  ci/dash/test_integrationtests.sh
  ci/dash/test_unittests.sh
  ci/extended_lint/04_install.sh
  ci/extended_lint/06_script.sh
  ci/test/00_setup_env.sh
  ci/test/00_setup_env_s390x.sh
  ci/test/04_install.sh
  ci/test/05_before_script.sh
  contrib/debian/copyright
  depends/.gitignore
  depends/Makefile
  depends/README.md
  depends/packages/qt.mk
  doc/release-notes-17578.md
  src/Makefile.bench.include
  src/Makefile.test_fuzz.include
  src/Makefile.test_util.include
  src/bench/block_assemble.cpp
  src/bench/wallet_balance.cpp
  src/net_processing.cpp
  src/script/standard.h
  src/test/fuzz/process_message.cpp
  src/test/fuzz/process_messages.cpp
  src/test/getarg_tests.cpp
  src/test/settings_tests.cpp
  src/test/txvalidationcache_tests.cpp
  src/test/util.h
  src/test/util/mining.cpp
  src/test/util/mining.h
  src/test/util/str.h
  src/test/util/wallet.cpp
  src/test/util/wallet.h
  src/test/util_tests.cpp
  src/util/settings.cpp
  src/util/settings.h
  src/util/system.cpp
  src/util/system.h
  src/validation.cpp
  src/wallet/rpcwallet.cpp
  test/functional/feature_cltv.py
  test/functional/feature_dersig.py
  test/functional/rpc_getaddressinfo_labels_purpose_deprecation.py
  test/functional/test_framework/wallet_util.py
  test/functional/test_runner.py
  test/functional/wallet_basic.py
  test/functional/wallet_import_with_label.py
  test/functional/wallet_importmulti.py
  test/functional/wallet_labels.py
  test/functional/wallet_listreceivedby.py
Labels: RPC

#5255 backport: bitcoin#15584, #16060, #16465, #16477, #16680, #16714, #16941, #16991, #17453, #17696, #19058 (last batch for v19)
  .travis.yml
  ci/test/00_setup_env_mac_host.sh
  ci/test/00_setup_env_native_cxx20.sh
  contrib/macdeploy/macdeployqtplus
  doc/productivity.md
  doc/release-notes-16060.md
  src/bitcoin-cli.cpp
  src/bitcoin-tx.cpp
  src/bitcoind.cpp
  src/chainparams.cpp
  src/chainparamsbase.cpp
  src/consensus/params.h
  src/interfaces/node.h
  src/node/interfaces.cpp
  src/qt/bitcoin.cpp
  src/qt/bitcoin.h
  src/qt/forms/intro.ui
  src/qt/guiconstants.h
  src/qt/guiutil.cpp
  src/qt/intro.cpp
  src/qt/intro.h
  src/qt/networkstyle.cpp
  src/qt/networkstyle.h
  src/qt/optionsmodel.cpp
  src/qt/optionsmodel.h
  src/qt/test/apptests.cpp
  src/rpc/blockchain.cpp
  src/test/util_tests.cpp
  src/util/system.cpp
  src/validation.cpp
  src/versionbitsinfo.cpp
  test/functional/feature_bip68_sequence.py
  test/functional/feature_cltv.py
  test/functional/feature_csv_activation.py
  test/functional/feature_dersig.py
  test/functional/feature_dip0020_activation.py
  test/functional/feature_dip3_deterministicmns.py
  test/functional/feature_llmq_is_cl_conflicts.py
  test/functional/feature_new_quorum_type_activation.py
  test/functional/rpc_blockchain.py
  test/functional/rpc_net.py
  test/functional/test_framework/test_framework.py
  test/functional/test_framework/util.py
  test/functional/wallet_import_rescan.py
Labels: RPC

#5348 fix(qt): provide correct data into intro dlg
  src/qt/intro.cpp
Labels: backport-candidate-19.x
