Repository dashpay/dash, pull requests merged in 2023-07, with the labels that each got.

#5455 fix(rpc): Improve `upgradetohd`
  src/rpc/client.cpp
  src/wallet/rpcwallet.cpp
Labels: backport-candidate-19.x

#5476 fix: start client-side CoinJoin scheduler even when CoinJoin is disabled
  src/init.cpp
Labels: backport-candidate-19.x

#5435 perf: avoid rehashing block; use stored hash
  src/evo/deterministicmns.cpp
  src/evo/deterministicmns.h
  src/evo/specialtxman.cpp
Labels: backport-candidate-19.x

#5478 fix: Resolve warnings in Guix GitHub workflow
  .github/workflows/guix-build.yml
Labels: guix-build

#5377 feat: mnlistdiff v20 CL sig quorums
  doc/release-notes-5377.md
  src/bls/bls.h
  src/evo/simplifiedmns.cpp
  src/evo/simplifiedmns.h
  src/version.h
  test/functional/feature_llmq_rotation.py
  test/functional/test_framework/messages.py
  test/lint/lint-cppcheck-dash.sh
Labels: RPC, P2P

#5483 chore: Drop `MSG_LEGACY_TXLOCK_REQUEST`/`LEGACYTXLOCKREQUEST`
  src/net_processing.cpp
  src/protocol.cpp
  src/protocol.h
Labels: P2P

#5360 backport: bitcoin#18875,11413,16946,17824,18601,18585,20271,19871,20039
  doc/release-notes-11413.md
  src/bitcoin-wallet.cpp
  src/net_processing.cpp
  src/policy/feerate.cpp
  src/policy/feerate.h
  src/policy/fees.h
  src/qt/test/wallettests.cpp
  src/test/fuzz/process_message.cpp
  src/test/fuzz/process_messages.cpp
  src/util/fees.cpp
  src/util/fees.h
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/scriptpubkeyman.cpp
  src/wallet/scriptpubkeyman.h
  src/wallet/test/coinjoin_tests.cpp
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  test/functional/mempool_accept.py
  test/functional/test_framework/messages.py
  test/functional/test_framework/script.py
  test/functional/wallet_avoidreuse.py
  test/functional/wallet_basic.py
  test/functional/wallet_txn_clone.py
Labels: RPC

#5496 feat: bury v19 activation
  src/chainparams.cpp
  src/consensus/params.h
  src/evo/specialtxman.cpp
  src/llmq/utils.cpp
  src/llmq/utils.h
  src/rpc/blockchain.cpp
  src/test/util/setup_common.cpp
  src/versionbitsinfo.cpp
  test/functional/rpc_blockchain.py
Labels: backport-candidate-19.x

#5498 fix: Process `dsq` messages even when CJ is disabled locally or disk space is low
  src/coinjoin/client.cpp
Labels: backport-candidate-19.x

#5026 feat!: add an implementation of DIP 0027 Credit Asset Locks
  src/Makefile.am
  src/Makefile.test.include
  src/bloom.cpp
  src/chainparams.cpp
  src/consensus/params.h
  src/consensus/tx_check.cpp
  src/consensus/tx_verify.cpp
  src/core_write.cpp
  src/evo/assetlocktx.cpp
  src/evo/assetlocktx.h
  src/evo/cbtx.cpp
  src/evo/cbtx.h
  src/evo/creditpool.cpp
  src/evo/creditpool.h
  src/evo/specialtxman.cpp
  src/evo/specialtxman.h
  src/init.cpp
  src/merkleblock.cpp
  src/miner.cpp
  src/miner.h
  src/node/context.cpp
  src/node/context.h
  src/primitives/transaction.h
  src/rpc/evo.cpp
  src/test/evo_assetlocks_tests.cpp
  src/test/util/setup_common.cpp
  src/test/util_tests.cpp
  src/txmempool.cpp
  src/txmempool.h
  src/util/skip_set.cpp
  src/util/skip_set.h
  src/validation.cpp
  test/functional/feature_asset_locks.py
  test/functional/test_framework/blocktools.py
  test/functional/test_framework/messages.py
  test/functional/test_runner.py
  test/lint/lint-circular-dependencies.sh
Labels: RPC

#5504 feat: Check if settings file is empty
  src/util/settings.cpp
Labels: backport-candidate-19.x
