Repository dashpay/dash, pull requests merged in 2023-01, with the labels that each got.

#5125 feat(rpc): Hide old banned mns by default
  doc/release-notes-5125.md
  src/rpc/masternode.cpp
Labels: RPC

#5145 fix: avoid re-propogating old qfcommit messages
  src/llmq/blockprocessor.cpp
Labels: backport-candidate-18.1.x, backport-candidate-18.2.x

#5139 fix: preserve the original order of fields in CDeterministicMNStateDiff
  src/evo/dmnstate.h
Labels: backport-candidate-19.x

#5142 fix!: Rotation members calc v19
  src/llmq/utils.cpp
Labels: backport-candidate-18.2.x

#5136 feat(coinjoin): implement new serialization for dsq and dstx
  src/coinjoin/client.cpp
  src/coinjoin/coinjoin.cpp
  src/coinjoin/coinjoin.h
  src/coinjoin/server.cpp
  src/net_processing.cpp
  src/version.h
Labels: Needs Release Notes

#5158 feat(rpc): Added previousConsecutiveDKGFailures for rotation in quorum rpc
  doc/release-notes-5158.md
  src/rpc/quorums.cpp
Labels: RPC

#5164 feat(rpc): added scheme in bls generate rpc + aligned changes for bls fromsecret rpc
  doc/release-notes-5164.md
  src/rpc/evo.cpp
Labels: RPC

#5161 docs(rpc): added missing legacy rpc in help
  src/rpc/evo.cpp
Labels: RPC

#5166 feat: reduce autoresending of wallet transactions to an average of 2 hours
  src/wallet/wallet.cpp
  test/functional/wallet_resendwallettransactions.py
Labels: backport-candidate-18.2.x

#5162 fix: resolve crash on close bug in macos
  src/qt/bitcoingui.cpp
Labels: backport-candidate-18.1.x, backport-candidate-18.2.x

#5174 fix: keeping reference to local variable in Coin Join unit tests
  src/wallet/test/coinjoin_tests.cpp
Labels: backport-candidate-18.2.x
