Repository dashpay/dash, pull requests merged in 2023-02, with the labels that each got.

#5170 backport: bitcoin#17156, #17524, #16944, #16326, #14055, #13712 (psbt's related)
  doc/release-notes-15427.md
  src/interfaces/wallet.cpp
  src/interfaces/wallet.h
  src/psbt.cpp
  src/psbt.h
  src/qt/sendcoinsdialog.cpp
  src/qt/sendcoinsdialog.h
  src/qt/walletmodel.cpp
  src/rpc/client.cpp
  src/rpc/rawtransaction.cpp
  src/wallet/psbtwallet.cpp
  src/wallet/test/psbt_wallet_tests.cpp
  src/wallet/wallet.cpp
  test/functional/rpc_psbt.py
Labels: RPC

#5185 refactor: remove protx_update_service_legacy
  src/rpc/evo.cpp
Labels: RPC

#5182 fix(qt): Ignore change output in reassignAmounts
  src/qt/walletmodel.cpp
  src/qt/walletmodeltransaction.cpp
  src/qt/walletmodeltransaction.h
Labels: backport-candidate-18.2.x

#5191 fix/tests: fix `masternode payments` rpc, add tests
  src/rpc/masternode.cpp
  test/functional/rpc_masternode.py
Labels: backport-candidate-18.2.x

#5039 feat!: 4k collateral high performance masternode implementation
  doc/release-notes-5039.md
  src/Makefile.am
  src/chainparams.cpp
  src/chainparams.h
  src/evo/deterministicmns.cpp
  src/evo/deterministicmns.h
  src/evo/dmn_types.h
  src/evo/dmnstate.cpp
  src/evo/dmnstate.h
  src/evo/evodb.h
  src/evo/providertx.cpp
  src/evo/providertx.h
  src/evo/simplifiedmns.cpp
  src/evo/simplifiedmns.h
  src/governance/object.cpp
  src/governance/vote.cpp
  src/init.cpp
  src/llmq/params.h
  src/llmq/utils.cpp
  src/llmq/utils.h
  src/masternode/payments.cpp
  src/rpc/evo.cpp
  src/rpc/masternode.cpp
  src/test/block_reward_reallocation_tests.cpp
  src/test/evo_deterministicmns_tests.cpp
  src/version.h
  src/wallet/wallet.cpp
  test/functional/feature_llmq_hpmn.py
  test/functional/feature_new_quorum_type_activation.py
  test/functional/rpc_platform_filter.py
  test/functional/test_framework/test_framework.py
  test/functional/test_runner.py
Labels: RPC

#5196 fix/tests: fix inconsistencies in `getaddressinfo`, add tests
  src/wallet/rpcwallet.cpp
  src/wallet/rpcwallet.h
  src/wallet/test/wallet_tests.cpp
Labels: RPC

#5206 feat(rpc): masternode status and count RPCs adjusted for HPMNs
  doc/release-notes-5206.md
  src/evo/deterministicmns.h
  src/rpc/masternode.cpp
  test/functional/feature_llmq_hpmn.py
Labels: RPC

#5216 chore: Added missing protx rpc in help
  src/rpc/evo.cpp
Labels: RPC, backport-candidate-19.x

#5218 chore: set the nStartTime for v19 deployment Fed 22 and March 31st respectively
  src/chainparams.cpp
Labels: backport-candidate-19.x

#5217 fix(rpc): don't parse platformHTTPPort platformP2PPort as strings
  src/rpc/evo.cpp
Labels: RPC, backport-candidate-19.x

#5222 fix: making builds of guix to produce same output whatever git config
  share/genbuild.sh
Labels: backport-candidate-19.x

#5220 chrore: bump version in gitian to 19
  contrib/gitian-descriptors/gitian-linux.yml
  contrib/gitian-descriptors/gitian-osx.yml
  contrib/gitian-descriptors/gitian-win.yml
Labels: backport-candidate-19.x
