Repository dashpay/dash, pull requests merged in 2024-04, with the labels that each got.

#5962 fix: deadlock over cs_main and contributionsCacheCs in dkssessionmgr
  src/llmq/dkgsessionmgr.cpp
Labels: guix-build, backport-candidate-20.x

#5649 Merge bitcoin/bitcoin#22736: log, sync: change lock contention from preprocessor directive to log category
  src/logging.cpp
  src/logging.h
  src/logging/timer.h
  src/sync.cpp
  src/sync.h
  src/test/logging_tests.cpp
  test/functional/rpc_misc.py
  test/lint/lint-circular-dependencies.sh
Labels: guix-build

#5958 backport: bitcoin#20182 ci: Build with --enable-werror by default, and document exceptions
  ci/dash/build_src.sh
  ci/test/00_setup_env.sh
  ci/test/00_setup_env_arm.sh
  ci/test/00_setup_env_mac.sh
  ci/test/00_setup_env_mac_host.sh
  ci/test/00_setup_env_native_cxx20.sh
  ci/test/00_setup_env_native_qt5.sh
  ci/test/00_setup_env_native_sqlite.sh
  ci/test/00_setup_env_native_tsan.sh
  ci/test/00_setup_env_native_ubsan.sh
  ci/test/00_setup_env_win64.sh
  depends/hosts/linux.mk
  depends/hosts/mingw32.mk
Labels: guix-build

#5968 docs: add v20.0.4 release notes
  doc/release-notes/dash/release-notes-20.0.4.md
Labels: backport-candidate-20.x

#5964 backport: merge bitcoin#19763, #20653, #20756, #19315, #20646, #21015, #19771, #21425, #21236, #21198, #21707, #21785, #21506, #22107, partial bitcoin#21186, merge gui#226, partial gui#206 (networking backports: part 2)
  src/bitcoin-cli.cpp
  src/interfaces/node.h
  src/llmq/dkgsession.cpp
  src/llmq/instantsend.cpp
  src/llmq/instantsend.h
  src/masternode/sync.cpp
  src/masternode/utils.cpp
  src/net.cpp
  src/net.h
  src/net_permissions.cpp
  src/net_permissions.h
  src/net_processing.cpp
  src/net_processing.h
  src/netbase.h
  src/node/interfaces.cpp
  src/qt/clientmodel.cpp
  src/qt/forms/debugwindow.ui
  src/qt/guiutil.cpp
  src/qt/guiutil.h
  src/qt/peertablemodel.cpp
  src/qt/rpcconsole.cpp
  src/qt/rpcconsole.h
  src/rpc/mining.cpp
  src/rpc/net.cpp
  src/rpc/protocol.h
  src/test/fuzz/connman.cpp
  src/test/fuzz/net.cpp
  src/test/fuzz/net_permissions.cpp
  src/test/fuzz/node_eviction.cpp
  src/test/net_tests.cpp
  src/test/netbase_tests.cpp
  src/test/util/net.h
  src/test/util_tests.cpp
  src/util/time.cpp
  src/util/time.h
  test/functional/p2p_add_connections.py
  test/functional/p2p_addr_relay.py
  test/functional/p2p_blocksonly.py
  test/functional/p2p_filter.py
  test/functional/test_framework/p2p.py
  test/functional/test_framework/test_node.py
  test/functional/test_runner.py
Labels: RPC

#5970 guix: exclude debug symbols for apple from list of hashes due to its non-determinism
  contrib/guix/guix-attest
Labels: backport-candidate-20.x

#5965 backport: bitcoin#19137, #19253, #20365, #20687, #23349 - descriptor wallets part III
  ci/test/00_setup_env_native_cxx20.sh
  ci/test/00_setup_env_native_fuzz.sh
  ci/test/00_setup_env_native_tsan.sh
  src/Makefile.am
  src/bitcoin-wallet.cpp
  src/util/system.h
  src/wallet/dump.cpp
  src/wallet/dump.h
  src/wallet/hdchain.cpp
  src/wallet/hdchain.h
  src/wallet/scriptpubkeyman.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/wallettool.cpp
  src/wallet/wallettool.h
  test/functional/test_framework/address.py
  test/functional/tool_wallet.py
Labels: RPC, Needs Release Notes

#5976 backport: bitcoin#17934, #21338, #21390, #21445, #21602, #21606, #21609, #21676, bitcoin-core/gui#260,
  .cirrus.yml
  doc/multiprocess.md
  doc/release-notes-21602.md
  src/node/coinstats.cpp
  src/qt/bitcoin.cpp
  src/qt/bitcoin.h
  src/qt/bitcoingui.cpp
  src/qt/guiutil.cpp
  src/qt/guiutil.h
  src/qt/sendcoinsdialog.cpp
  src/qt/sendcoinsdialog.h
  src/qt/test/wallettests.cpp
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
  src/rpc/blockchain.cpp
  src/rpc/net.cpp
  src/test/denialofservice_tests.cpp
  src/test/fuzz/psbt.cpp
  src/test/logging_tests.cpp
  src/test/mempool_tests.cpp
  src/test/rpc_tests.cpp
  src/test/util/setup_common.cpp
  src/wallet/test/wallet_tests.cpp
  test/functional/feature_anchors.py
  test/functional/feature_utxo_set_hash.py
  test/functional/test_framework/wallet.py
  test/functional/test_runner.py
  test/functional/wallet_groups.py
  test/lint/extended-lint-cppcheck.sh
Labels: RPC

#5978 backport: merge bitcoin#21594, #21843, #22306, #22211, #22387, #21528, #22616, #22604, #22960, #23218 (networking backports: part 3)
  doc/release-notes-5978.md
  src/net.cpp
  src/net.h
  src/net_permissions.h
  src/net_processing.cpp
  src/net_processing.h
  src/netaddress.h
  src/rpc/net.cpp
  src/test/denialofservice_tests.cpp
  src/test/util/net.h
  test/functional/feature_bip68_sequence.py
  test/functional/feature_maxuploadtarget.py
  test/functional/p2p_addr_relay.py
  test/functional/p2p_addrv2_relay.py
  test/functional/p2p_invalid_messages.py
  test/functional/p2p_ping.py
  test/functional/rpc_net.py
  test/functional/test_framework/messages.py
  test/functional/test_framework/p2p.py
  test/functional/test_framework/util.py
Labels: RPC

#5981 backport: bitcoin#19136, #21063, #21277, #21302, partial #20267 - descriptor wallets part IV
  doc/release-notes-5965.md
  src/rpc/evo.cpp
  src/rpc/util.cpp
  src/rpc/util.h
  src/script/descriptor.cpp
  src/script/descriptor.h
  src/test/descriptor_tests.cpp
  src/test/rpc_tests.cpp
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/scriptpubkeyman.cpp
  src/wallet/scriptpubkeyman.h
  test/functional/feature_backwards_compatibility.py
  test/functional/feature_filelock.py
  test/functional/interface_bitcoin_cli.py
  test/functional/interface_zmq.py
  test/functional/rpc_net.py
  test/functional/test_framework/test_framework.py
  test/functional/test_runner.py
  test/functional/wallet_descriptor.py
  test/functional/wallet_listdescriptors.py
  test/functional/wallet_send.py
Labels: RPC

#5983 backport: Merge bitcoin#22138, 21939, bitcoin-core/gui#163, 20373, 22144, 22013, 21719, 20786
  src/Makefile.am
  src/net.cpp
  src/net.h
  src/net_processing.cpp
  src/net_processing.h
  src/protocol.cpp
  src/protocol.h
  src/qt/forms/debugwindow.ui
  src/qt/guiutil.cpp
  src/qt/guiutil.h
  src/qt/rpcconsole.cpp
  src/rpc/mining.cpp
  src/rpc/misc.cpp
  src/rpc/net.cpp
  src/rpc/net.h
  test/lint/lint-spelling.ignore-words.txt
Labels: RPC

#5982 backport: merge bitcoin#20769, #19499, #23575, #23695, #21160, #24692, partial bitcoin#20196, #25176, merge bitcoin-core/gui#526 (networking backports: part 4)
  src/bitcoin-cli.cpp
  src/governance/governance.cpp
  src/governance/governance.h
  src/init.cpp
  src/llmq/context.cpp
  src/llmq/dkgsession.cpp
  src/llmq/dkgsession.h
  src/llmq/dkgsessionhandler.cpp
  src/llmq/dkgsessionhandler.h
  src/llmq/dkgsessionmgr.cpp
  src/llmq/dkgsessionmgr.h
  src/llmq/instantsend.cpp
  src/llmq/signing.cpp
  src/llmq/signing.h
  src/net.cpp
  src/net.h
  src/net_processing.cpp
  src/net_processing.h
  src/qt/forms/debugwindow.ui
  src/qt/guiutil.cpp
  src/qt/guiutil.h
  src/qt/rpcconsole.cpp
  src/qt/rpcconsole.h
  src/rpc/net.cpp
  src/test/denialofservice_tests.cpp
  src/test/fuzz/net.cpp
  src/test/fuzz/node_eviction.cpp
  src/test/fuzz/process_message.cpp
  src/test/fuzz/process_messages.cpp
  src/test/fuzz/util.cpp
  src/test/fuzz/util.h
  src/test/net_peer_eviction_tests.cpp
  src/test/timedata_tests.cpp
  src/test/util/net.h
  src/timedata.cpp
  src/timedata.h
  test/functional/p2p_blocksonly.py
  test/functional/p2p_message_capture.py
  test/functional/p2p_timeouts.py
  test/functional/test_framework/util.py
  test/functional/wallet_resendwallettransactions.py
  test/lint/lint-circular-dependencies.sh
Labels: RPC
