Repository dashpay/dash, pull requests merged in 2024-08, with the labels that each got.

#6160 feat: add sbom and provenance in release for dockerhub; use jammy; apt remove as possible
  .github/workflows/release_docker_hub.yml
  contrib/containers/deploy/Dockerfile.GitHubActions.Release
Labels: backport-candidate-21.0.x

#6163 fix: use blocks-only instead of address-only for inventory
  src/net_processing.cpp
Labels: backport-candidate-21.0.x

#6174 fix: stop trying to sign pending txes when they are no longer non-locked
  src/llmq/instantsend.cpp
Labels: backport-candidate-21.0.x

#6131 feat: make a support of Qt app to show Platform transfer Tx
  src/interfaces/wallet.h
  src/primitives/transaction.h
  src/qt/transactiondesc.cpp
  src/qt/transactionrecord.cpp
  src/qt/transactionrecord.h
  src/qt/transactiontablemodel.cpp
  src/qt/transactionview.cpp
  src/wallet/interfaces.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.h
  test/functional/feature_asset_locks.py
Labels: RPC

#6176 test: reduce BRRHeight in regtest
  src/chainparams.cpp
  src/test/block_reward_reallocation_tests.cpp
  test/functional/rpc_blockchain.py
Labels: backport-candidate-21.0.x

#6178 chore: bump protocol version to 70233
  src/version.h
Labels: backport-candidate-21.0.x

#6179 chore: update manpages v21.1
  doc/man/dash-cli.1
  doc/man/dash-qt.1
  doc/man/dash-tx.1
  doc/man/dash-wallet.1
  doc/man/dashd.1
Labels: backport-candidate-21.0.x

#6219 fix: correct is_snapshot_cs in VerifyDB
  src/validation.cpp
Labels: backport-candidate-21.1.x

#6208 fix: persist coinjoin denoms options from gui over restarts
  src/qt/optionsmodel.cpp
Labels: backport-candidate-21.1.x

#6222 fix: adjust payee predictions after mn_rr activation, add tests
  src/evo/deterministicmns.cpp
  test/functional/feature_llmq_evo.py
Labels: backport-candidate-21.1.x
