Repository dashpay/dash, pull requests merged in 2024-02, with the labels that each got.

#5853 feat(rpc): `quorum dkginfo` rpc
  doc/release-notes-5853.md
  src/rpc/quorums.cpp
  test/functional/feature_llmq_rotation.py
Labels: RPC

#5806 feat: rpc submitchainlock short circuit if possible and always return…
  doc/release-notes-5806.md
  src/rpc/quorums.cpp
  test/functional/feature_llmq_chainlocks.py
Labels: RPC, guix-build

#5842 backport: merge bitcoin#19289, #19998, #17775, #19401, #20167, #20187, #19961, #21114, #21170 (auxiliary backports: part 12)
  doc/tor.md
  src/bench/rpc_blockchain.cpp
  src/core_io.h
  src/core_read.cpp
  src/net.cpp
  src/net.h
  src/net_processing.cpp
  src/rpc/blockchain.cpp
  src/test/net_tests.cpp
  src/wallet/interfaces.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  test/functional/feature_bip68_sequence.py
  test/functional/feature_block.py
  test/functional/feature_csv_activation.py
  test/functional/feature_notifications.py
  test/functional/feature_nulldummy.py
  test/functional/mining_basic.py
  test/functional/p2p_compactblocks.py
  test/functional/test_framework/blocktools.py
Labels: RPC

#5822 backport: Guix related backports
  .github/workflows/semantic-pull-request.yml
  CONTRIBUTING.md
  contrib/guix/INSTALL.md
  contrib/guix/README.md
  contrib/guix/guix-attest
  contrib/guix/guix-build
  contrib/guix/guix-codesign
  contrib/guix/guix-verify
  contrib/guix/libexec/build.sh
  contrib/guix/manifest.scm
  contrib/guix/patches/elfsteem-value-error-python-39.patch
  doc/release-process.md
Labels: guix-build

#4738 feat(rpc): Tweak `protx info` to be able to show info for a specific block
  doc/release-notes-4738.md
  src/rpc/evo.cpp
  test/functional/feature_dip3_deterministicmns.py
Labels: RPC

#5852 trivial: add missing rpc help messages, remove segwit references, dashify help text, undashify code comments
  src/policy/policy.cpp
  src/rpc/blockchain.cpp
  src/rpc/evo.cpp
  src/rpc/mining.cpp
  src/rpc/misc.cpp
  src/rpc/net.cpp
  src/rpc/rawtransaction.cpp
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.h
  test/functional/feature_llmq_chainlocks.py
  test/functional/rpc_fundrawtransaction.py
Labels: RPC

#5870 backport: trivial 2024 02 12
  .cirrus.yml
  CONTRIBUTING.md
  ci/test/04_install.sh
  src/consensus/tx_verify.h
  src/qt/addressbookpage.cpp
  src/qt/bitcoin.cpp
  src/qt/bitcoin.h
  src/qt/forms/intro.ui
  src/qt/intro.cpp
  src/qt/intro.h
  src/qt/psbtoperationsdialog.cpp
  src/qt/qrimagewidget.cpp
  src/qt/sendcoinsdialog.cpp
  src/qt/transactionview.cpp
  src/qt/walletview.cpp
  src/test/fuzz/banman.cpp
  src/test/fuzz/coins_view.cpp
  src/test/fuzz/crypto.cpp
  src/test/fuzz/fuzz.h
  src/test/fuzz/prevector.cpp
  src/test/fuzz/rolling_bloom_filter.cpp
  src/test/fuzz/tx_pool.cpp
  src/test/miner_tests.cpp
  src/test/system_tests.cpp
  src/validation.cpp
  test/functional/p2p_invalid_messages.py
Labels: guix-build

#5866 feat: add onion_seeds to seed creation; do seed creation
  contrib/seeds/README.md
  contrib/seeds/makeseeds.py
  contrib/seeds/nodes_main.txt
  contrib/seeds/onion_seeds.txt
  doc/tor.md
  src/chainparamsseeds.h
Labels: backport-candidate-20.x

#5890 docs: update license year range to 2024
  COPYING
  configure.ac
  contrib/debian/copyright
Labels: backport-candidate-20.x

#5824 feat: generalize ehf activation
  src/llmq/ehf_signals.cpp
  test/functional/test_framework/test_framework.py
Labels: guix-build

#5909 backport: trivial 2024 02 28
  contrib/guix/manifest.scm
  contrib/guix/patches/nsis-disable-installer-reloc.patch
  doc/dash-conf.md
  src/Makefile.test.include
  src/blockfilter.h
  src/crc32c/CMakeLists.txt
  src/hash.cpp
  src/index/blockfilterindex.h
  src/protocol.cpp
  src/test/fuzz/float.cpp
  src/test/fuzz/util.h
  src/test/serfloat_tests.cpp
  src/test/streams_tests.cpp
  test/functional/README.md
  test/functional/example_test.py
Labels: guix-build
