Repository dashpay/dash, pull requests merged in 2024-01, with the labels that each got.

#5798 fix: ignore triggers from the past when voting
  src/governance/governance.cpp
  test/functional/feature_governance.py
Labels: backport-candidate-20.x

#5800 fix: withdrawal (asset unlock) txes to use Platform Quorum on RegTest
  src/chainparams.cpp
  src/consensus/params.h
  src/evo/assetlocktx.cpp
  test/functional/feature_asset_locks.py
  test/functional/test_framework/test_framework.py
Labels: backport-candidate-20.x

#5796 backport: bitcoin#15202, #15768, #16432, #17597 (Qt dash core wallet improvements)
  src/qt/addressbookpage.cpp
  src/qt/askpassphrasedialog.cpp
  src/qt/bitcoingui.cpp
  src/qt/bitcoingui.h
  src/qt/bitcoinunits.cpp
  src/qt/bitcoinunits.h
  src/qt/coincontroldialog.cpp
  src/qt/editaddressdialog.cpp
  src/qt/forms/overviewpage.ui
  src/qt/forms/receiverequestdialog.ui
  src/qt/guiutil.cpp
  src/qt/guiutil.h
  src/qt/openuridialog.cpp
  src/qt/optionsdialog.cpp
  src/qt/overviewpage.cpp
  src/qt/overviewpage.h
  src/qt/receiverequestdialog.cpp
  src/qt/receiverequestdialog.h
  src/qt/rpcconsole.cpp
  src/qt/signverifymessagedialog.cpp
  src/qt/splashscreen.cpp
  src/qt/test/wallettests.cpp
  src/qt/transactiondescdialog.cpp
  src/qt/utilitydialog.cpp
  src/qt/walletcontroller.cpp
  src/qt/walletcontroller.h
  src/qt/walletframe.cpp
  src/qt/walletview.cpp
  src/qt/walletview.h
Labels: Needs Release Notes

#5801 build: Disable miner for Windows binaries built via Guix
  contrib/guix/libexec/build.sh
Labels: backport-candidate-20.x

#5771 backport: Merge bitcoin#19316, (Partial) 19725, 19724
  doc/release-notes-19725.md
  src/chainparams.cpp
  src/evo/mnauth.cpp
  src/governance/governance.cpp
  src/llmq/instantsend.cpp
  src/masternode/sync.cpp
  src/masternode/utils.cpp
  src/net.cpp
  src/net.h
  src/net_processing.cpp
  src/rpc/net.cpp
  src/test/denialofservice_tests.cpp
  src/test/fuzz/net.cpp
  src/test/fuzz/util.h
  src/test/net_tests.cpp
  test/functional/rpc_net.py
Labels: RPC

#5811 chore: drop version from README.md which is not really useful
  README.md
Labels: backport-candidate-20.x

#5814 feat: use a self-signed windows code signing certificate instead of e…
  contrib/windeploy/win-codesign.cert
Labels: backport-candidate-20.x

#5653 feat: Set client version for non-release binaries and version in guix based on git tags
  .github/workflows/guix-build.yml
  configure.ac
  contrib/containers/guix/scripts/guix-check
  contrib/guix/libexec/codesign.sh
  contrib/shell/git-utils.bash
  doc/release-process.md
  share/genbuild.sh
  src/clientversion.cpp
Labels: guix-build

#5818 backport: bitcoin#20211, #20380, #20884, #20941, #20944, #21028, #21064, #21110, #21117, bitcon-core/gui#204
  .fuzzbuzz.yml
  build-aux/m4/ax_boost_thread.m4
  ci/test/00_setup_env_native_asan.sh
  ci/test/00_setup_env_native_fuzz.sh
  ci/test/00_setup_env_native_fuzz_with_valgrind.sh
  ci/test/00_setup_env_native_valgrind.sh
  configure.ac
  contrib/init/README.md
  contrib/init/dashd.service
  depends/packages/boost.mk
  doc/REST-interface.md
  doc/bips.md
  doc/build-unix.md
  doc/fuzzing.md
  src/init.cpp
  src/qt/guiutil.cpp
  src/qt/guiutil.h
  src/qt/receivecoinsdialog.cpp
  src/qt/receivecoinsdialog.h
  src/qt/transactionview.cpp
  src/qt/transactionview.h
  src/rpc/blockchain.cpp
  src/rpc/rawtransaction.cpp
  src/script/sign.cpp
  src/script/standard.cpp
  src/test/sanity_tests.cpp
  src/txmempool.cpp
  src/txmempool.h
  src/util/time.cpp
  src/util/time.h
  src/wallet/rpcdump.cpp
  src/wallet/scriptpubkeyman.cpp
  test/functional/feature_assumevalid.py
  test/functional/mempool_persist.py
Labels: RPC

#5820 feat: use dashcore-binaries.thepasta.org as keybase.pub is defunct and validate all .asc files
  contrib/verifybinaries/README.md
  contrib/verifybinaries/verify.py
  contrib/verifybinaries/verify.sh
Labels: guix-build

#5839 feat: new rpc getrawtransactionmulti
  doc/release-notes-5839.md
  src/rpc/client.cpp
  src/rpc/rawtransaction.cpp
  test/functional/rpc_rawtransaction.py
Labels: RPC

#5828 backport: bitcoin#18044, #18244, #19569, #19670, #19710, #19730, #19818
  ci/dash/test_integrationtests.sh
  ci/test/00_setup_env.sh
  doc/bips.md
  doc/release-notes-18244.md
  src/bench/bench.cpp
  src/bench/checkqueue.cpp
  src/net.cpp
  src/net.h
  src/net_processing.cpp
  src/protocol.cpp
  src/protocol.h
  src/test/fuzz/net.cpp
  src/validation.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  test/functional/rpc_psbt.py
  test/functional/test_framework/messages.py
  test/functional/wallet_basic.py
Labels: RPC
