Repository dashpay/dash, pull requests merged in 2024-11, with the labels that each got.

#6375 fix: devnet stuck on block 2 with crash
  src/evo/cbtx.cpp
Labels: backport-candidate-21.1.x

#6402 ci: cache built
  .github/workflows/build.yml
Labels: backport-candidate-22.0.x

#6401 ci: deduplicate depends building
  .github/workflows/build.yml
Labels: backport-candidate-22.0.x

#6406 ci: use `actions/cache` to manage depends cache
  .github/workflows/build.yml
Labels: backport-candidate-22.0.x

#6414 chore: bump seeds for v22
  contrib/seeds/nodes_main.txt
  contrib/seeds/onion_seeds.txt
  src/chainparamsseeds.h
Labels: backport-candidate-22.0.x

#6407 fix: dataraces
  src/net_processing.cpp
  test/functional/feature_llmq_chainlocks.py
Labels: backport-candidate-22.0.x

#6411 chore: update nMinimumChainWork, defaultAssumeValid, checkpointData, chainTxData for mainnet and testnet
  src/chainparams.cpp
Labels: backport-candidate-22.0.x

#6422 perf: add in quorumBaseBlockIndexCache to reduce cs_main contention
  src/llmq/quorums.cpp
  src/llmq/quorums.h
Labels: guix-build

#6423 refactor: create helper function RelayRecoveredSig inside peerman
  src/llmq/context.cpp
  src/llmq/instantsend.h
  src/llmq/signing.cpp
  src/llmq/signing.h
  src/net.h
  src/net_processing.cpp
  src/net_processing.h
Labels: guix-build

#6426 fix: respect SENDDSQUEUE message, move DSQ relay into net processing / peerman
  src/coinjoin/client.cpp
  src/coinjoin/client.h
  src/coinjoin/coinjoin.cpp
  src/coinjoin/coinjoin.h
  src/coinjoin/server.cpp
  src/coinjoin/server.h
  src/net_processing.cpp
  src/net_processing.h
Labels: backport-candidate-22.0.x

#6393 docs: mention building for some HOSTs only in `release-process.md`
  doc/release-process.md
Labels: backport-candidate-22.0.x
