Repository dashpay/dash, pull requests merged in 2024-10, with the labels that each got.

#6276 backport: merge bitcoin#22817, #23042, #22777, #23774, #25443, #26138, #26854, #27128, #27761, #27863, #28287, #30118, partial bitcoin#22778 (auxiliary backports: part 16)
  src/net.cpp
  src/net.h
  src/net_processing.cpp
  src/rpc/client.cpp
  src/rpc/net.cpp
  src/test/fuzz/rpc.cpp
  test/functional/p2p_add_connections.py
  test/functional/p2p_disconnect_ban.py
  test/functional/p2p_net_deadlock.py
  test/functional/rpc_net.py
  test/functional/test_framework/test_framework.py
  test/functional/test_framework/test_node.py
  test/functional/test_framework/util.py
  test/functional/test_runner.py
Labels: RPC

#6297 backport: merge bitcoin#23156, #23213, #23227, #23223, #23564, #23538, #23437, #23630, #23465, #23738, #17631, #22875 (auxiliary backports: part 18)
  .cirrus.yml
  configure.ac
  doc/REST-interface.md
  doc/release-notes-6297.md
  src/core_read.cpp
  src/node/blockstorage.h
  src/rest.cpp
  src/rpc/quorums.cpp
  src/rpc/util.cpp
  src/test/checkqueue_tests.cpp
  src/test/fuzz/parse_numbers.cpp
  src/test/fuzz/tx_pool.cpp
  src/test/script_parse_tests.cpp
  src/test/util_tests.cpp
  src/torcontrol.cpp
  src/util/strencodings.cpp
  src/util/strencodings.h
  src/validation.cpp
  src/validation.h
  test/functional/feature_llmq_dkgerrors.py
  test/functional/interface_rest.py
  test/lint/lint-locale-dependence.sh
  test/util/data/bitcoin-util-test.json
Labels: RPC

#6328 backport: bitcoin/bitcoin#30131, #23258, #30504 - fix bild for Ubuntu 24.10 + clang
  src/index/base.cpp
  src/policy/fees.cpp
  src/txmempool.h
  src/validation.h
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
Labels: backport-candidate-21.1.x

#6324 backport: merge bitcoin#28577, #28588, #28634, #28849, #28805, #28951, #29058, #29239, partial bitcoin#28331, #28452 (BIP324 backports: part 2)
  doc/bips.md
  src/bitcoin-cli.cpp
  src/init.cpp
  src/net.cpp
  src/net.h
  src/net_processing.cpp
  src/node/connection_types.cpp
  src/node/connection_types.h
  src/protocol.cpp
  src/protocol.h
  src/rpc/client.cpp
  src/rpc/net.cpp
  src/sync.h
  src/test/fuzz/bip324.cpp
  src/test/fuzz/connman.cpp
  src/test/fuzz/p2p_transport_serialization.cpp
  src/test/net_tests.cpp
  src/test/util/net.h
  src/test/util_tests.cpp
  src/util/vector.h
  test/functional/p2p_node_network_limited.py
  test/functional/p2p_timeouts.py
  test/functional/p2p_v2_transport.py
  test/functional/rpc_net.py
  test/functional/test_framework/messages.py
  test/functional/test_framework/test_framework.py
  test/functional/test_framework/test_node.py
  test/functional/test_runner.py
Labels: RPC

#6279 fix: new fork 'withdrawals' and fixes for asset unlock signature verification
  src/chainparams.cpp
  src/consensus/params.h
  src/deploymentinfo.cpp
  src/evo/assetlocktx.cpp
  src/rpc/blockchain.cpp
  test/functional/feature_asset_locks.py
  test/functional/rpc_blockchain.py
Labels: Needs Release Notes

#6336 fix: rpc getblock and getblockstats for blocks with withdrawal transactions (asset unlock)
  src/core_write.cpp
  src/rpc/blockchain.cpp
  src/rpc/masternode.cpp
  test/functional/feature_asset_locks.py
Labels: backport-candidate-21.1.x

#6338 ci: attest results of guix builds
  .github/workflows/guix-build.yml
Labels: backport-candidate-21.1.x

#6330 backport: merge bitcoin#27653, #24748, #29352, #29372, #29460, #29358, #29511, #29390, #29431, bitcoin-core/gui#788 (BIP324 backports: part 4)
  src/net.cpp
  src/net.h
  src/protocol.cpp
  src/qt/forms/debugwindow.ui
  src/rpc/client.cpp
  src/rpc/masternode.cpp
  src/rpc/net.cpp
  src/test/net_tests.cpp
  test/functional/feature_addrman.py
  test/functional/feature_block.py
  test/functional/feature_maxuploadtarget.py
  test/functional/feature_reindex.py
  test/functional/p2p_ibd_stalling.py
  test/functional/p2p_invalid_messages.py
  test/functional/p2p_timeouts.py
  test/functional/p2p_v2_encrypted.py
  test/functional/p2p_v2_misbehaving.py
  test/functional/p2p_v2_transport.py
  test/functional/rpc_net.py
  test/functional/rpc_setban.py
  test/functional/test_framework/crypto/bip324_cipher.py
  test/functional/test_framework/key.py
  test/functional/test_framework/messages.py
  test/functional/test_framework/p2p.py
  test/functional/test_framework/test_node.py
  test/functional/test_framework/util.py
  test/functional/test_framework/v2_p2p.py
  test/functional/test_runner.py
Labels: RPC
