Repository dashpay/dash, pull requests merged in 2024-07, with the labels that each got.

#6095 fix: createwallet to require 'load_on_startup' for descriptor wallets
  doc/release-notes-16528.md
  src/wallet/rpcwallet.cpp
  test/functional/test_framework/test_node.py
Labels: RPC, backport-candidate-21.0.x

#6096 feat: split type of error in submitchainlock - return enum in CL verifying code
  src/evo/cbtx.cpp
  src/llmq/chainlocks.cpp
  src/llmq/chainlocks.h
  src/llmq/quorums.cpp
  src/llmq/quorums.h
  src/llmq/signing.cpp
  src/llmq/signing.h
  src/rpc/quorums.cpp
  test/functional/feature_llmq_chainlocks.py
Labels: backport-candidate-21.0.x

#6092 fix: mixing for partially unlocked descriptor wallets
  src/wallet/scriptpubkeyman.cpp
  src/wallet/scriptpubkeyman.h
  src/wallet/wallet.cpp
Labels: backport-candidate-21.0.x

#6073 feat: add logging for RPC HTTP requests: command, user, http-code, time of running
  src/httprpc.cpp
  src/httpserver.cpp
Labels: backport-candidate-21.0.x

#6100 feat: make whitelist works with composite commands for platform needs
  doc/release-notes-6100.md
  src/httprpc.cpp
  test/functional/rpc_whitelist.py
Labels: backport-candidate-21.0.x

#6106 feat: create new composite quorum-command platformsign
  doc/release-notes-6106.md
  src/rpc/quorums.cpp
  test/functional/feature_asset_locks.py
  test/functional/test_framework/test_framework.py
Labels: backport-candidate-21.0.x

#6115 backport: v21.0.x rc.2
  doc/release-notes-16528.md
  doc/release-notes-6100.md
  doc/release-notes-6106.md
  src/chainparamsbase.cpp
  src/evo/cbtx.cpp
  src/httprpc.cpp
  src/httpserver.cpp
  src/llmq/chainlocks.cpp
  src/llmq/chainlocks.h
  src/llmq/quorums.cpp
  src/llmq/quorums.h
  src/llmq/signing.cpp
  src/llmq/signing.h
  src/rpc/quorums.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/scriptpubkeyman.cpp
  src/wallet/scriptpubkeyman.h
  src/wallet/wallet.cpp
  test/functional/feature_asset_locks.py
  test/functional/feature_llmq_chainlocks.py
  test/functional/rpc_whitelist.py
  test/functional/test_framework/test_framework.py
  test/functional/test_framework/test_node.py
Labels: guix-build

#6108 fix: remove keypool replenishment stat and warning for descriptor wallet
  doc/release-notes-6108.md
  src/rpc/coinjoin.cpp
Labels: RPC

#6118 docs: add release notes notifying change of default branch to `develop`
  doc/release-notes-6118.md
Labels: backport-candidate-21.0.x

#6126 feat: enable EHF activation of MN_RR on mainnet
  src/llmq/ehf_signals.cpp
Labels: backport-candidate-21.0.x

#6125 docs: update manpages for 21.0
  doc/man/dash-cli.1
  doc/man/dash-qt.1
  doc/man/dash-tx.1
  doc/man/dash-wallet.1
  doc/man/dashd.1
Labels: backport-candidate-21.0.x

#6116 fix: mitigate crashes associated with some upgradetohd edge cases
  src/wallet/rpcwallet.cpp
  src/wallet/scriptpubkeyman.cpp
  src/wallet/scriptpubkeyman.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  test/functional/wallet_upgradetohd.py
Labels: backport-candidate-21.0.x

#6117 docs: update supported versions in SECURITY.md
  SECURITY.md
Labels: backport-candidate-21.0.x

#6140 feat: harden all sporks on mainnet to current values
  doc/release-notes-6140.md
  src/spork.cpp
Labels: backport-candidate-21.0.x

#6122 chore: translations 2024-07
  share/qt/extract_strings_qt.py
  src/coinjoin/client.cpp
  src/qt/dashstrings.cpp
  src/qt/locale/dash_ar.ts
  src/qt/locale/dash_bg.ts
  src/qt/locale/dash_de.ts
  src/qt/locale/dash_en.ts
  src/qt/locale/dash_en.xlf
  src/qt/locale/dash_es.ts
  src/qt/locale/dash_fi.ts
  src/qt/locale/dash_fr.ts
  src/qt/locale/dash_it.ts
  src/qt/locale/dash_ja.ts
  src/qt/locale/dash_ko.ts
  src/qt/locale/dash_nl.ts
  src/qt/locale/dash_pl.ts
  src/qt/locale/dash_pt.ts
  src/qt/locale/dash_ro.ts
  src/qt/locale/dash_ru.ts
  src/qt/locale/dash_sk.ts
  src/qt/locale/dash_th.ts
  src/qt/locale/dash_tr.ts
  src/qt/locale/dash_vi.ts
  src/qt/locale/dash_zh_CN.ts
  src/qt/locale/dash_zh_TW.ts
Labels: backport-candidate-21.0.x

#6146 chore: bump assumevalid, minchainwork, checkpoints, chaintxdata
  src/chainparams.cpp
Labels: backport-candidate-21.0.x

#6144 docs: release notes for v21.0.0
  doc/release-notes-14582.md
  doc/release-notes-16528.md
  doc/release-notes-18202.md
  doc/release-notes-19200.md
  doc/release-notes-19202.md
  doc/release-notes-19405.md
  doc/release-notes-19464.md
  doc/release-notes-19469.md
  doc/release-notes-19473.md
  doc/release-notes-19501.md
  doc/release-notes-19725.md
  doc/release-notes-19776.md
  doc/release-notes-20282.md
  doc/release-notes-20286.md
  doc/release-notes-21049.md
  doc/release-notes-21056.md
  doc/release-notes-21359.md
  doc/release-notes-21595.md
  doc/release-notes-21602.md
  doc/release-notes-21832.md
  doc/release-notes-22544.md
  doc/release-notes-22834.md
  doc/release-notes-25355.md
  doc/release-notes-5342.md
  doc/release-notes-5493.md
  doc/release-notes-5861.md
  doc/release-notes-5965.md
  doc/release-notes-5978.md
  doc/release-notes-6017.md
  doc/release-notes-6050.md
  doc/release-notes-6078.md
  doc/release-notes-6080.md
  doc/release-notes-6100.md
  doc/release-notes-6106.md
  doc/release-notes-6118.md
  doc/release-notes-6140.md
  doc/release-notes.md
  doc/release-notes/dash/release-notes-20.1.1.md
Labels: backport-candidate-21.0.x

#6151 chore: update seeds for v21 release
  contrib/seeds/nodes_main.txt
  contrib/seeds/onion_seeds.txt
  src/chainparamsseeds.h
Labels: backport-candidate-21.0.x

#6154 chore: remove trailing whitespaces in release notes
  doc/release-notes.md
Labels: backport-candidate-21.0.x

#6149 backport: trivial 2024 07 23
  depends/hosts/mingw32.mk
  doc/release-notes-24806.md
  src/consensus/params.h
  src/init/common.cpp
  src/net.cpp
  src/netbase.cpp
  src/netbase.h
  src/node/blockstorage.h
  src/node/psbt.cpp
  src/psbt.h
  src/rpc/blockchain.cpp
  src/rpc/mining.cpp
  src/rpc/misc.cpp
  src/test/denialofservice_tests.cpp
  src/test/fuzz/netbase_dns_lookup.cpp
  src/test/net_tests.cpp
  src/test/validation_chainstate_tests.cpp
  src/test/versionbits_tests.cpp
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  test/functional/feature_cltv.py
  test/functional/wallet_importmulti.py
Labels: RPC
