Repository dashpay/dash, pull requests merged in 2025-04, with the labels that each got.

#6237 feat: add transactions.mempool.lockedTransactions and chainlocks.blockHeight stats
  src/evo/deterministicmns.cpp
  src/init.cpp
  src/llmq/chainlocks.cpp
  src/llmq/instantsend.cpp
  src/llmq/instantsend.h
  src/validation.cpp
Labels: guix-build

#6612 test: functional tests for RPC debug
  src/rpc/misc.cpp
  test/functional/rpc_misc.py
  test/functional/test_runner.py
Labels: RPC

#6625 fix: adjust quorum rotation data results in some edge cases, add tests
  src/llmq/snapshot.cpp
  test/functional/feature_llmq_rotation.py
Labels: backport-candidate-22.1.x

#6608 fix: `cycleHash` should represent a cycle starting block of the signing quorum
  doc/release-notes-6608.md
  src/llmq/instantsend.cpp
  src/version.h
  test/functional/test_framework/p2p.py
Labels: backport-candidate-22.1.x

#6628 fix(rpc)!: the third param in `quorum rotationinfo` RPC should be a JSON array
  doc/release-notes-6628.md
  src/rpc/quorums.cpp
  test/functional/feature_llmq_rotation.py
Labels: RPC

#6632 perf: versionbits avoid calculation which is not used
  src/versionbits.cpp
Labels: backport-candidate-22.1.x
