Repository dashpay/dash, pull requests merged in 2025-01, with the labels that each got.

#6516 backport: merge bitcoin#24866, #25612, #28432, #28757, #28845, #28932, #28973, #21778, #30204, #29765, #30201, #30287, #30511 (toolchain backports: part 3)
  .gitignore
  Makefile.am
  ci/test/00_setup_env_mac.sh
  ci/test/00_setup_env_native_fuzz.sh
  ci/test/00_setup_env_native_fuzz_with_valgrind.sh
  ci/test/00_setup_env_native_multiprocess.sh
  ci/test/00_setup_env_native_tsan.sh
  ci/test/00_setup_env_native_ubsan.sh
  ci/test/00_setup_env_native_valgrind.sh
  configure.ac
  contrib/containers/ci/Dockerfile
  contrib/devtools/symbol-check.py
  contrib/devtools/test-security-check.py
  contrib/guix/libexec/build.sh
  contrib/guix/libexec/codesign.sh
  contrib/guix/manifest.scm
  contrib/macdeploy/README.md
  contrib/macdeploy/background.tiff
  contrib/macdeploy/macdeployqtplus
  depends/Makefile
  depends/README.md
  depends/builders/darwin.mk
  depends/builders/default.mk
  depends/config.site.in
  depends/funcs.mk
  depends/gen_id
  depends/hosts/darwin.mk
  depends/hosts/default.mk
  depends/packages/gmp.mk
  depends/packages/native_cctools.mk
  depends/packages/native_ds_store.mk
  depends/packages/native_libtapi.mk
  depends/packages/native_llvm.mk
  depends/packages/native_mac_alias.mk
  depends/packages/packages.mk
  depends/packages/qt.mk
  depends/patches/gmp/include_ldflags_in_configure.patch
  depends/patches/native_libtapi/disable_zlib.patch
  depends/patches/qt/mac-qmake.conf
  depends/patches/qt/no_warnings_for_symbols.patch
  doc/build-osx.md
  doc/release-notes-6516.md
  doc/release-process.md
Labels: guix-build

#6495 chore: Translations 2024-12 (more lang updates only)
  src/qt/locale/dash_fr.ts
  src/qt/locale/dash_it.ts
  src/qt/locale/dash_pl.ts
  src/qt/locale/dash_zh_CN.ts
  src/qt/locale/dash_zh_TW.ts
Labels: backport-candidate-22.0.x

#6523 fix(qt): dashify PSBT: it's Partially Signed BLOCKCHAIN Transaction
  src/qt/bitcoingui.cpp
  src/qt/bitcoingui.h
  src/qt/sendcoinsdialog.cpp
  src/rpc/rawtransaction.cpp
Labels: backport-candidate-22.0.x

#6503 backport: merge bitcoin#23106, #22067, #23303, #23403, #22513, #17034, #23718, partial bitcoin#21330, #21365, #22514 (psbt backports)
  doc/descriptors.md
  doc/psbt.md
  src/coinjoin/server.cpp
  src/node/psbt.cpp
  src/psbt.cpp
  src/psbt.h
  src/pubkey.cpp
  src/pubkey.h
  src/qt/psbtoperationsdialog.cpp
  src/rpc/client.cpp
  src/rpc/rawtransaction.cpp
  src/script/bitcoinconsensus.cpp
  src/script/interpreter.cpp
  src/script/interpreter.h
  src/script/keyorigin.h
  src/script/sigcache.h
  src/script/sign.cpp
  src/script/sign.h
  src/script/signingprovider.h
  src/serialize.h
  src/test/evo_deterministicmns_tests.cpp
  src/test/fuzz/script_flags.cpp
  src/test/fuzz/script_sign.cpp
  src/test/multisig_tests.cpp
  src/test/script_p2sh_tests.cpp
  src/test/script_tests.cpp
  src/test/transaction_tests.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/scriptpubkeyman.cpp
  src/wallet/scriptpubkeyman.h
  src/wallet/test/psbt_wallet_tests.cpp
  src/wallet/test/wallet_test_fixture.cpp
  src/wallet/test/wallet_test_fixture.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  test/functional/data/rpc_psbt.json
  test/functional/rpc_psbt.py
  test/functional/test_runner.py
  test/functional/wallet_multisig_descriptor_psbt.py
Labels: RPC

#6522 fix: cache descriptors of wallet unlock - missing changes from bitcoin/bitcoin#21329
  src/wallet/wallet.cpp
Labels: backport-candidate-22.0.x

#6501 feat: add optional argument to ignore ChainLocks for reconsiderblocks RPC
  src/rpc/blockchain.cpp
  src/rpc/client.cpp
  src/validation.cpp
  src/validation.h
Labels: RPC

#6537 fix: crash due to unitialized variable if no blocks has been mined yet
  src/qt/clientmodel.h
  src/qt/masternodelist.cpp
Labels: backport-candidate-21.1.x
